<a href="https://colab.research.google.com/github/dilip-ksa/dilip_ml_pythondemo/blob/main/Day15_ML_Journey_OOPs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
###################  OOPs  ##################
class Person:
  def __init__(self, name, age, address):
    self.name = name
    self.age = age
    self.address = address
  def display(self):
    print('Name:',self.name, ', Age:',self.age, ', Address:',self.address)

p1 = Person("Dinesh", 25, "Mumbai")
p1.display()

Name: Dinesh , Age: 25 , Address: Mumbai

In [3]:
class Calculator:
  n1 = 0
  n2 = 0
  res = 0
  def __init__(self, n1, n2):
    self.n1 = n1
    self.n2 = n2
    self.res = 0

  def add(self, n1, n2):
    self.res = n1 + n2

  def sub(self, n1, n2):
    self.res = n1 - n2

  def mul(self, n1, n2):
    self.res = n1 * n2

  def div(self, n1, n2):
    self.res = n1 / n2

c1 = Calculator(10,20)
print(c1.n1, c1.n2, c1.res)
c1.add(40,20)
print(c1.res)
c1.sub(40,20)
print(c1.res)
c1.mul(40,20)
print(c1.res)
c1.div(40,20)
print(c1.res)

10 20 0
60
20
800
2.0

In [9]:
######################  Day 15  ##############################
# Class example

class Sample:
  def __init__(self):
    self.data = 10

  def read_input(self):
    self.data = input("Enter some text")

  def process_input(self):
    self.data = self.data.upper()

  def display_input(self):
    print(self.data)

s1 = Sample()
s1.display_input()
s1.read_input()
s1.display_input()
s1.process_input()
s1.display_input()

s2 = Sample()
s2.display_input()
s2.read_input()
s2.process_input()
s2.display_input()

10
Enter some textTest
Test
TEST
10
Enter some textWelcome
WELCOME