<a href="https://colab.research.google.com/github/dilip-ksa/dilip_ml_pythondemo/blob/main/Day12_ML_Journey.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def func1(a,b,c,d):
  return a,b,c,d

_,val2,_,val4 = func1(10,20,30,40)
print(val2, val4)

20 40

In [1]:
###################### Day 12/13 (12May2025)###########################
# nested function
def func1():
  print("This is func1, calling func1")
  func2()
  print("This is func1, after func2 call")

def func2():
  print("This is func2, called from func1")

func1()

This is func1, calling func1
This is func2, called from func1
This is func1, after func2 call

In [4]:
#### function local veriable
def test1():
  x = 10
  print(x)
  x = x + 1
  print(x)

test1()
#print(x) # NameError: name 'x' is not defined
test1()
test1()

10
11
10
11
10
11

In [7]:
# global variable in function
globaly = 20
def test2():
  print(globaly)

test2()
print(globaly)

20
20

In [11]:
# global & local variable in function
globaly = 20
def test2():
  globaly = 30
  print(globaly)
  globaly = globaly + 12
  print(globaly)

test2()
print(globaly)

30
42
20

In [10]:
# global & local variable in function
globaly = 20
def test2():
  global globaly
  globaly = globaly + 12
  print(globaly)

test2()
print(globaly)

32
32

In [12]:
# global & local variable in function
globaly = 50
def test2():
  global globaly
  globaly = globaly + 12
  print(globaly)

def test3():
  global globaly
  globaly = globaly + 12
  print(globaly)

test2()
print(globaly)
test3()
print(globaly)

62
62
74
74

In [20]:
# Nested function (inner function)
def multiplier_factory(factor):

  def multiplier(number):

    return number * factor

  # Return the nested function
  return multiplier  # returning the inner function

# Create a function that multiplies by 5
multiply_by_5 = multiplier_factory(5)
print(multiply_by_5.__name__)

# Create a function that multiplies by 10
multiply_by_10 = multiplier_factory(10)

# Use the created functions
result1 = multiply_by_5(8)
result2 = multiply_by_10(8)

print(f"8 multiplied by 5 is: {result1}")  # Output: 8 multiplied by 5 is: 40
print(f"8 multiplied by 10 is: {result2}") # Output: 8 multiplied by 10 is: 80

multiplier
8 multiplied by 5 is: 40
8 multiplied by 10 is: 80

In [17]:
# Function alias
def func1():
  print("This is func1 called by func2")

func2 = func1
func2()

This is func1 called by func2

In [21]:
# positional function arguments
def func1(name,age,address):
  print(name, age, address)

func1("Dinesh", 25, "Pune")

Dinesh 25 Pune

In [23]:
# positional function arguments with keywords
def func1(name,age,address):
  print(name, age, address)

func1("Dinesh", 25, "Pune")
func1(name="Dinesh", age=25, address="Pune")
func1(age=25, name="Dinesh", address="Pune")
func1(age=25, address="Pune", name="Dinesh")

Dinesh 25 Pune
Dinesh 25 Pune
Dinesh 25 Pune
Dinesh 25 Pune

In [26]:
# positional function arguments with keywords
def func1(name,age,address):
  print(name, age, address)

func1("Dinesh", 25, "Pune")
func1("Dinesh", age=25, address="Pune")
func1("Dinesh", address="Pune", age=25)
func1(25, "Dinesh", address="Pune") # Incorrect result
func1(age=25, address="Pune", name="Dinesh")

Dinesh 25 Pune
Dinesh 25 Pune
Dinesh 25 Pune
25 Dinesh Pune
Dinesh 25 Pune

In [28]:
# default argument value in function
def func3(name,age,address="Pune"):
  print(name, age, address)

func3("Dinesh", 25, "Mumbai")
func3("Dinesh", 25)

Dinesh 25 Mumbai
Dinesh 25 Pune

In [32]:
# Positional args -> keyword args -> default args
def func4(name, age, address, city, state = 'OD'):
  print(name, age, address, city, state)

func4("Dinesh", 25, "Mumbai", city="Pune", state="MH")
func4("Dinesh", 25, "Mumbai", city="Pune")
func4("Dinesh", 25, "Mumbai", state="AP", city="Hyd")

Dinesh 25 Mumbai Pune MH
Dinesh 25 Mumbai Pune OD
Dinesh 25 Mumbai Hyd AP

In [34]:
# variable length argument
def func5(*args):
  print(args)

func5("Dinesh", 25, "Mumbai", "Pune", "MH")
func5("Dinesh", 25, "Mumbai")
func5("Dinesh", 25)
func5(12,13,14,15,16)

('Dinesh', 25, 'Mumbai', 'Pune', 'MH')
('Dinesh', 25, 'Mumbai')
('Dinesh', 25)
(12, 13, 14, 15, 16)

In [35]:
#variable length keyword args
def func5(**kwargs):
  print(kwargs)

func5(name="Dinesh", age=25, address="Mumbai", city="Pune", state="MH")
func5(name="Dinesh", age=25, address="Mumbai")
func5(name="Dinesh", age=25)

{'name': 'Dinesh', 'age': 25, 'address': 'Mumbai', 'city': 'Pune', 'state': 'MH'}
{'name': 'Dinesh', 'age': 25, 'address': 'Mumbai'}
{'name': 'Dinesh', 'age': 25}

In [29]:
# var args & keyword args
def func5(*args,**kwargs):
  print(args)
  print(kwargs)

func5("Dinesh", 25, "Mumbai", city="Pune", state="MH")

('Dinesh', 25, 'Mumbai')
{'city': 'Pune', 'state': 'MH'}