<a href="https://colab.research.google.com/github/dilip-ksa/dilip_ml_pythondemo/blob/main/Day14_ML_Journey.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def func1(a,b,c,d):
  return a,b,c,d

_,val2,_,val4 = func1(10,20,30,40)
print(val2, val4)

20 40

In [ ]:
###################### Day 12/13 (12May2025)###########################
# nested function
def func1():
  print("This is func1, calling func1")
  func2()
  print("This is func1, after func2 call")

def func2():
  print("This is func2, called from func1")

func1()

This is func1, calling func1
This is func2, called from func1
This is func1, after func2 call

In [ ]:
#### function local veriable
def test1():
  x = 10
  print(x)
  x = x + 1
  print(x)

test1()
#print(x) # NameError: name 'x' is not defined
test1()
test1()

10
11
10
11
10
11

In [ ]:
# global variable in function
globaly = 20
def test2():
  print(globaly)

test2()
print(globaly)

20
20

In [ ]:
# global & local variable in function
globaly = 20
def test2():
  globaly = 30
  print(globaly)
  globaly = globaly + 12
  print(globaly)

test2()
print(globaly)

30
42
20

In [ ]:
# global & local variable in function
globaly = 20
def test2():
  global globaly
  globaly = globaly + 12
  print(globaly)

test2()
print(globaly)

32
32

In [ ]:
# global & local variable in function
globaly = 50
def test2():
  global globaly
  globaly = globaly + 12
  print(globaly)

def test3():
  global globaly
  globaly = globaly + 12
  print(globaly)

test2()
print(globaly)
test3()
print(globaly)

62
62
74
74

In [ ]:
# Nested function (inner function)
def multiplier_factory(factor):

  def multiplier(number):

    return number * factor

  # Return the nested function
  return multiplier  # returning the inner function

# Create a function that multiplies by 5
multiply_by_5 = multiplier_factory(5)
print(multiply_by_5.__name__)

# Create a function that multiplies by 10
multiply_by_10 = multiplier_factory(10)

# Use the created functions
result1 = multiply_by_5(8)
result2 = multiply_by_10(8)

print(f"8 multiplied by 5 is: {result1}")  # Output: 8 multiplied by 5 is: 40
print(f"8 multiplied by 10 is: {result2}") # Output: 8 multiplied by 10 is: 80

multiplier
8 multiplied by 5 is: 40
8 multiplied by 10 is: 80

In [ ]:
# Function alias
def func1():
  print("This is func1 called by func2")

func2 = func1
func2()

This is func1 called by func2

In [ ]:
# positional function arguments
def func1(name,age,address):
  print(name, age, address)

func1("Dinesh", 25, "Pune")

Dinesh 25 Pune

In [ ]:
# positional function arguments with keywords
def func1(name,age,address):
  print(name, age, address)

func1("Dinesh", 25, "Pune")
func1(name="Dinesh", age=25, address="Pune")
func1(age=25, name="Dinesh", address="Pune")
func1(age=25, address="Pune", name="Dinesh")

Dinesh 25 Pune
Dinesh 25 Pune
Dinesh 25 Pune
Dinesh 25 Pune

In [ ]:
# positional function arguments with keywords
def func1(name,age,address):
  print(name, age, address)

func1("Dinesh", 25, "Pune")
func1("Dinesh", age=25, address="Pune")
func1("Dinesh", address="Pune", age=25)
func1(25, "Dinesh", address="Pune") # Incorrect result
func1(age=25, address="Pune", name="Dinesh")

Dinesh 25 Pune
Dinesh 25 Pune
Dinesh 25 Pune
25 Dinesh Pune
Dinesh 25 Pune

In [ ]:
# default argument value in function
def func3(name,age,address="Pune"):
  print(name, age, address)

func3("Dinesh", 25, "Mumbai")
func3("Dinesh", 25)

Dinesh 25 Mumbai
Dinesh 25 Pune

In [ ]:
# Positional args -> keyword args -> default args
def func4(name, age, address, city, state = 'OD'):
  print(name, age, address, city, state)

func4("Dinesh", 25, "Mumbai", city="Pune", state="MH")
func4("Dinesh", 25, "Mumbai", city="Pune")
func4("Dinesh", 25, "Mumbai", state="AP", city="Hyd")

Dinesh 25 Mumbai Pune MH
Dinesh 25 Mumbai Pune OD
Dinesh 25 Mumbai Hyd AP

In [ ]:
# variable length argument
def func5(*args):
  print(args)

func5("Dinesh", 25, "Mumbai", "Pune", "MH")
func5("Dinesh", 25, "Mumbai")
func5("Dinesh", 25)
func5(12,13,14,15,16)

('Dinesh', 25, 'Mumbai', 'Pune', 'MH')
('Dinesh', 25, 'Mumbai')
('Dinesh', 25)
(12, 13, 14, 15, 16)

In [ ]:
#variable length keyword args
def func5(**kwargs):
  print(kwargs)

func5(name="Dinesh", age=25, address="Mumbai", city="Pune", state="MH")
func5(name="Dinesh", age=25, address="Mumbai")
func5(name="Dinesh", age=25)

{'name': 'Dinesh', 'age': 25, 'address': 'Mumbai', 'city': 'Pune', 'state': 'MH'}
{'name': 'Dinesh', 'age': 25, 'address': 'Mumbai'}
{'name': 'Dinesh', 'age': 25}

In [ ]:
# var args & keyword args
def func5(*args,**kwargs):
  print(args)
  print(kwargs)

func5("Dinesh", 25, "Mumbai", city="Pune", state="MH")

('Dinesh', 25, 'Mumbai')
{'city': 'Pune', 'state': 'MH'}

In [ ]:
############# Day 14 ####################
def add_var_args(*num, **nums):
  print(num)
  print(nums)
  print(type(num))
  print(type(nums))
  print(sum(num))
  print(sum(nums.values()))

add_var_args(11, 12, 13, 14, num1=101, num2=102, num3=103, num4=104)

(11, 12, 13, 14)
{'num1': 101, 'num2': 102, 'num3': 103, 'num4': 104}
<class 'tuple'>
<class 'dict'>
50
410

In [ ]:
def add_var_args(name, *num, **nums):
  print(num)
  print(nums)
  print(type(num))
  print(type(nums))
  print(sum(num))
  print(sum(nums.values()))
  print(name)

add_var_args(11, 12, 13, 14, num1=101, num2=102, num3=103, num4=104)
add_var_args('Rahul', 11, 12, 13, 14, num1=101, num2=102, num3=103, num4=104)

(12, 13, 14)
{'num1': 101, 'num2': 102, 'num3': 103, 'num4': 104}
<class 'tuple'>
<class 'dict'>
39
410
11
(11, 12, 13, 14)
{'num1': 101, 'num2': 102, 'num3': 103, 'num4': 104}
<class 'tuple'>
<class 'dict'>
50
410
Rahul

In [ ]:
#positional, var-args, keyword arg, default arg, var-keyword-args
def test_var_args(name, *num, num1, address='BLR', **nums):
  print('Name',name)
  print('num',num)
  print('num1',num1)
  print('address',address)
  print('nums',nums)
  print(type(num))
  print(type(nums))
  print(sum(num))
  print(sum(nums.values()))

test_var_args('Dilip', 11, 12, 13, 14, num1=101, num2=102, num3=103, num4=104)

Name Dilip
num (11, 12, 13, 14)
num1 101
address BLR
nums {'num2': 102, 'num3': 103, 'num4': 104}
<class 'tuple'>
<class 'dict'>
50
309

In [ ]:
## lambda in python
multiply = lambda x,y: x*y

print(multiply(10,20))

200

In [ ]:
addAll = lambda *x: sum(x)

print(addAll(10,20))

30

In [ ]:
result = lambda x,y: (x+y, x-y, x*y, x/y)

print(result(30,20))
print(result(y=10, x=30))
print(result(x=30,y=10))

(50, 10, 600, 1.5)
(40, 20, 300, 3.0)
(40, 20, 300, 3.0)

In [ ]:
printdata = lambda x,y,z: print(y,x,z)
printdata(10,20,30)

20 10 30

In [ ]:
area_of_circle = lambda r=20: 3.14*r*r

print(area_of_circle(10))
print(area_of_circle())

314.0
1256.0

In [ ]:
###################  OOPs  ##################
class Person:
  def __init__(self, name, age, address):
    self.name = name
    self.age = age
    self.address = address
  def display(self):
    print('Name:',self.name, ', Age:',self.age, ', Address:',self.address)

p1 = Person("Dinesh", 25, "Mumbai")
p1.display()

Name: Dinesh , Age: 25 , Address: Mumbai

In [5]:
class Calculator:
  n1 = 0
  n2 = 0
  res = 0
  def __init__(self, n1, n2):
    self.n1 = 0
    self.n2 = 0
    self.res = 0
  def add(self, n1, n2):
    self.res = n1 + n2
    print(self.res)

  def sub(self, n1, n2):
    pass

  def mul(self, n1, n2):
    pass

  def div(self, n1, n2):
    pass

c1 = Calculator(10,20)
c1.add(10,20)
c1.sub(10,20)
c1.mul(10,20)
c1.div(10,20)
print(c1.res)

30
30