<a href="https://colab.research.google.com/github/dilip-ksa/dilip_ml_pythondemo/blob/main/Day11_ML_Journey.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Day 11 - Functions
print("Hello world")

Hello world

In [1]:
# Without argument and without return
def add():
    a = 10
    b = 20
    c = a + b
    print(c)
add()

30

In [2]:
# Without argument and with return
def add():
    a = 10
    b = 25
    c = a + b
    return c
print(add())

30

In [4]:
# With argument and without return
def add(a,b):
    c = a + b
    print(c)
add(40,50)

90

In [8]:
# With argument and with return
def add(a,b):
    c = a + b
    return c

num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
print(add(num1, num2))

Enter first number: 12
Enter second number: 23
35

In [12]:
# return multiple values from a function
def add_sub(a,b):
    c = a + b
    d = a - b
    return c,d
result1, result2 = add_sub(10,5)
print("Addition {%d}, Subtracted value {%d}", result1, result2)
print()

Addition {%d}, Subtracted value {%d} 15 5

In [15]:
def test():
    l1 = [1,2,3,4,5]
    t1 = (1,2,3,4,5)
    s1 = {1,2,3,4,5}
    return l1,t1,s1
l2, t2, s2 = test()
print(l2)
print(t2)
print(s2)
print(type(test()))
print(test())

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)
{1, 2, 3, 4, 5}
<class 'tuple'>
([1, 2, 3, 4, 5], (1, 2, 3, 4, 5), {1, 2, 3, 4, 5})

In [22]:
def func1(a,b,c,d):
  return a,b,c,d

_,val2,_,val4 = func1(10,20,30,40)
print(val2, val4)

1 2 3 4
20 40