<a href="https://colab.research.google.com/github/dilip-ksa/dilip_ml_pythondemo/blob/main/Day15_ML_Journey_OOPs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
###################  OOPs  ##################
class Person:
  def __init__(self, name, age, address):
    self.name = name
    self.age = age
    self.address = address
  def display(self):
    print('Name:',self.name, ', Age:',self.age, ', Address:',self.address)

p1 = Person("Dinesh", 25, "Mumbai")
p1.display()

Name: Dinesh , Age: 25 , Address: Mumbai

In [ ]:
class Calculator:
  n1 = 0
  n2 = 0
  res = 0
  def __init__(self, n1, n2):
    self.n1 = 0
    self.n2 = 0
    self.res = 0

  def add(self, n1, n2):
    self.res = n1 + n2
    print(self.res)

  def sub(self, n1, n2):
    pass

  def mul(self, n1, n2):
    pass

  def div(self, n1, n2):
    pass

c1 = Calculator(10,20)
c1.add(10,20)
c1.sub(10,20)
c1.mul(10,20)
c1.div(10,20)
print(c1.res)

30
30

In [ ]:
######################  Day 15  ##############################