<a href="https://colab.research.google.com/github/dilip-ksa/dilip_ml_pythondemo/blob/main/Day17_ML_Journey_OOPs_Inheritance.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
###################  OOPs  ##################
class Person:
  def __init__(self, name, age, address):
    self.name = name
    self.age = age
    self.address = address
  def display(self):
    print('Name:',self.name, ', Age:',self.age, ', Address:',self.address)

p1 = Person("Dinesh", 25, "Mumbai")
p1.display()

Name: Dinesh , Age: 25 , Address: Mumbai

In [ ]:
class Calculator:
  n1 = 0
  n2 = 0
  res = 0
  def __init__(self, n1, n2):
    self.n1 = n1
    self.n2 = n2
    self.res = 0

  def add(self, n1, n2):
    self.res = n1 + n2

  def sub(self, n1, n2):
    self.res = n1 - n2

  def mul(self, n1, n2):
    self.res = n1 * n2

  def div(self, n1, n2):
    self.res = n1 / n2

c1 = Calculator(10,20)
print(c1.n1, c1.n2, c1.res)
c1.add(40,20)
print(c1.res)
c1.sub(40,20)
print(c1.res)
c1.mul(40,20)
print(c1.res)
c1.div(40,20)
print(c1.res)

10 20 0
60
20
800
2.0

In [ ]:
######################  Day 15  ##############################
# Class example

class Sample:
  def __init__(self):
    self.data = 10

  def read_input(self):
    self.data = input("Enter some text")

  def process_input(self):
    self.data = self.data.upper()

  def display_input(self):
    print(self.data)

s1 = Sample()
s1.display_input()
s1.read_input()
s1.display_input()
s1.process_input()
s1.display_input()

s2 = Sample()
s2.display_input()
s2.read_input()
s2.process_input()
s2.display_input()

10
Enter some textTest
Test
TEST
10
Enter some textWelcome
WELCOME

In [ ]:
class Calculator1:
  def __init__(self):
    self.n1 = 0
    self.n2 = 0
    self.res = 0

  def read_input(self):
    self.n1 = int(input("Enter first number :"))
    self.n2 = int(input("Enter second number :"))

  def add(self):
    self.res = self.n1 + self.n2

  def sub(self):
    self.res = self.n1 - self.n2

  def mul(self):
    self.res = self.n1 * self.n2

  def div(self):
    self.res = self.n1 / self.n2

  def display(self):
    return self.res

  def compare(self, obj):
    if self.res == obj.res:
      return True
    else:
      return False


c1 = Calculator1()
c1.read_input()
c1.sub()
print('Subtraction result:', c1.display())
c1.mul()
print('Multiplication result:', c1.display())
c1.div()
print('Division result:', c1.display())
c1.add()
print('Addition result:', c1.display())

c2 = Calculator1()
c2.read_input()
c2.add()
print('\nAddition result:', c2.display())
c1.compare(c2)

Enter first number :50
Enter second number :10
Subtraction result: 40
Multiplication result: 500
Division result: 5.0
Addition result: 60
Enter first number :40
Enter second number :20

Addition result: 60

True

In [ ]:
class Student:
  teacher = 'Mr. Patil'
  def __init__(self):
    self.name = ''
    self.rollno = 0
    self.math = 0
    self.lit = 0
    self.science = 0
    self.hist = 0
    self.average = 0

  def read_input(self):
    self.name = input("Enter student name :")
    self.rollno = int(input("Enter roll number :"))
    self.math = int(input("Enter marks in Maths :"))
    self.lit = int(input("Enter marks in Literature :"))
    self.science = int(input("Enter marks in Science :"))
    self.hist = int(input("Enter marks in History :"))
  def calculate_average(self):
    self.average = (self.math + self.lit + self.science + self.hist) / 4

  def display_details(self):
    print('Student Name:', self.name, ', Roll no:', self.rollno, ', Average mark:', self.average)

s1 = Student()
s1.read_input()
s1.calculate_average()
s1.display_details()

print('Teacher name:', Student.teacher)

s2 = Student()
s2.teacher = 'John'
print('S2 Teacher name:', s2.teacher)
print('S1 Teacher name:', s2.teacher)

Enter student name :dsf
Enter roll number :34
Enter marks in Maths :5
Enter marks in Literature :65
Enter marks in Science :34
Enter marks in History :5
Student Name: dsf , Roll no: 34  Average mark: 27.25
Teacher name: Mr. Patil
S2 Teacher name: John
S1 Teacher name: John

In [ ]:
class Employee:
  def __init__(self, n, id, dep, sal):
    self.name = n
    self.empid = id
    self.dept = dep
    self.salary = sal
    self.bonus = 20
    self.total_salary = 0

  def calculate_salary(self):
    self.total_salary = self.salary + self.bonus

  def display_details(self):
    print('Employee Name:', self.name, ', Employee ID:', self.empid, '\nDepartment:', self.dept, ', Salary:', self.salary, ', Bonus:', self.bonus, ', Total Salary:', self.total_salary)

  def compare(self, obj, any):
    if self.total_salary == obj.total_salary:
      return True
    else:
      return False

e1 = Employee('Tom', 101, 'IT', 5000)
e1.calculate_salary()
e1.display_details()

Employee Name: Tom , Employee ID: 101
Department: IT , Salary: 5000 , Bonus: 20 , Total Salary: 5020

In [ ]:
#########################  Day 16  ###########################
# class variable
class Student:
  count = 0 # class variable
  college_name = 'XYZ' # class variable
  def __init__(self, nm, roll):
    Student.count = Student.count + 1
    self.name = nm
    self.rollno = roll
    self.college_name = 'ABC'

  def display(self):
    print('Student Name:', self.name, ', Roll no:', self.rollno, ', College Name:', self.college_name)
    print('Total Students:', Student.count)

s1 = Student('Tom', 101)
s1.display()
s2 = Student('Harry', 102)
s2.college_name = 'PQR'
s2.display()
s3 = Student('Don', 103)
s3.display()

Student Name: Tom , Roll no: 101 , College Name: ABC
Total Students: 1
Student Name: Harry , Roll no: 102 , College Name: PQR
Total Students: 2
Student Name: Don , Roll no: 103 , College Name: ABC
Total Students: 3

In [ ]:
# class variable and instance variable with same name
class Student:
  count = 0 # class variable
  college_name = 'XYZ' # class variable
  def __init__(self, nm, roll):
    Student.count = Student.count + 1
    self.name = nm
    self.rollno = roll
    self.college_name = 'ABC'

  def display(self):
    print('Student Name:', self.name, ', Roll no:', self.rollno,
          ', Instance College Name:', self.college_name, ', Class college name:', Student.college_name)
    print('Total Students:', Student.count)

s1 = Student('Tom', 101)
s1.display()
s2 = Student('Harry', 102)
s2.college_name = 'PQR'
s2.display()
s3 = Student('Don', 103)
s3.display()

Student Name: Tom , Roll no: 101 , Instance College Name: ABC , Class college name: XYZ
Total Students: 1
Student Name: Harry , Roll no: 102 , Instance College Name: PQR , Class college name: XYZ
Total Students: 2
Student Name: Don , Roll no: 103 , Instance College Name: ABC , Class college name: XYZ
Total Students: 3

In [ ]:
# class variable and instance variable with same name
class Student:
  count = 0 # class variable
  college_name = 'XYZ' # class variable
  def __init__(self, nm, roll):
    Student.count = Student.count + 1
    self.name = nm
    self.rollno = roll

  def display(self):
    print('Student Name:', self.name, ', Roll no:', self.rollno,
          ', Instance College Name:', self.college_name, ', Class college name:', Student.college_name)
    print('Total Students:', Student.count, self.count)

  def display_static_details(name):
    print('Class Roll no:', Student.count, ', Class college name:', Student.college_name)
    print('Instance name:', name.count)

s1 = Student('Tom', 101)
s1.display()
s2 = Student('Harry', 102)
Student.college_name = 'PQR'
s2.count = 200
s2.display()
s3 = Student('Don', 103)
s3.display()
s3.display_static_details()
s4 = Student('Don', 103)
Student.count = 300
s4.display()
s4.display_static_details()

Student Name: Tom , Roll no: 101 , Instance College Name: XYZ , Class college name: XYZ
Total Students: 1 1
Student Name: Harry , Roll no: 102 , Instance College Name: PQR , Class college name: PQR
Total Students: 2 200
Student Name: Don , Roll no: 103 , Instance College Name: PQR , Class college name: PQR
Total Students: 3 3
Class Roll no: 3 , Class college name: PQR
Instance name: 3
Student Name: Don , Roll no: 103 , Instance College Name: PQR , Class college name: PQR
Total Students: 300 300
Class Roll no: 300 , Class college name: PQR
Instance name: 300

In [ ]:
# Basic of inheritance, no inheritance
class Employee:
  bonus = 2000
  def __init__(self, name, id):
    self.name = name
    self.empid = id
  def display(self):
    print('Employee Name:', self.name, ', Employee ID:', self.empid, ', Bonus:', Employee.bonus)

class Manager:
  bonus1 = 5000
  def __init__(self, name, id, dept):
    self.name = name
    self.empid = id
    self.dept = dept
  def display(self):
    print('Employee Name:', self.name, ', Employee ID:', self.empid, ', Department:', self.dept, ', Bonus:', Manager.bonus1)

e1 = Employee('Tom', 101)
e1.display()
m1 = Manager('Harry', 102, 'IT')
m1.display()

Employee Name: Tom , Employee ID: 101 , Bonus: 2000
Employee Name: Harry , Employee ID: 102 , Department: IT , Bonus: 5000

In [ ]:
# With inheritance
class Employee:
  bonus = 2000
  def __init__(self, name, id):
    self.name = name
    self.empid = id
  def display(self):
    print('Employee Name:', self.name, ', Employee ID:', self.empid, ', Bonus:', Employee.bonus)

class Manager(Employee):
  bonus1 = 5000
  def __init__(self, name, id, dept):
    self.name = name
    self.empid = id
    self.dept = dept
  def display(self):
    print('Employee Name:', self.name, ', Employee ID:', self.empid,
          ', Department:', self.dept, ', M Bonus:', Manager.bonus1, ', E Bonus:', self.bonus)

e1 = Employee('Tom', 101)
e1.display()
m1 = Manager('Harry', 102, 'IT')
m1.display()
m1.bonus = 3000
m1.display()

Employee Name: Tom , Employee ID: 101 , Bonus: 2000
Employee Name: Harry , Employee ID: 102 , Department: IT , M Bonus: 5000 , E Bonus: 2000
Employee Name: Harry , Employee ID: 102 , Department: IT , M Bonus: 5000 , E Bonus: 3000

In [ ]:
# Constructor in inheritance
class Father:
  def __init__(self):
    print('Father Constructor')
    self.vehicle = 'Scooter'

class Son(Father):
  pass

s1 = Son()
print(s1.vehicle)
print(s1.__dict__)

Father Constructor
Scooter
{'vehicle': 'Scooter'}

In [ ]:
class Father:
  def __init__(self):
    print('Father Constructor')
    self.vehicle = 'Scooter'

class Son(Father):
  def __init__(self):
    print('Son Constructor')
    self.vehicle = 'Car'

s1 = Son()
print(s1.vehicle)
print(s1.__dict__)
print()
f1 = Father()
print(f1.vehicle)
print(f1.__dict__)
print()

Son Constructor
Car
{'vehicle': 'Car'}

Father Constructor
Scooter
{'vehicle': 'Scooter'}

In [ ]:
## super method
class Father:
  def __init__(self):
    print('Father Constructor')
    self.vehicle = 'Scooter'

class Son(Father):
  def __init__(self):
    super().__init__()
    print('Son Constructor')
    self.vehicle = 'Car'

s1 = Son()
print(s1.vehicle)
print(s1.__dict__)
print()

Father Constructor
Son Constructor
Car
{'vehicle': 'Car'}

In [ ]:
class Mobile:
  def __init__(self):
    print('Mobile Constructor')
    self.ram = '8GB'
    self.processor = 'Snapdragon'

class Model(Mobile):
  def __init__(self):
    super().__init__() # calls parent class constructor
    print('Model Constructor')
    self.name = 'iPhone16'
    self.price = 100000

  def display(self):
    print('Name:', self.name, ', Price:', self.price, ', Ram', self.ram, ', Processor:', self.processor)

m = Model()
m.display()

m1 = Model()
m1.name = 'iPhone15'
m1.price = 90000
m1.display()

Mobile Constructor
Model Constructor
Name: iPhone16 , Price: 100000 , Ram 8GB , Processor: Snapdragon
Mobile Constructor
Model Constructor
Name: iPhone15 , Price: 90000 , Ram 8GB , Processor: Snapdragon

In [2]:
# Inheritance with call to parent class constructor with attributes
class Mobile:
  def __init__(self, rm, proc):
    print('Mobile Constructor')
    self.ram = rm
    self.processor = proc

class Model(Mobile):
  def __init__(self, mname, prce, rm, proc='Snapdragon'):
    super().__init__(rm, proc) # calls parent class constructor & attributes
    print('Model Constructor')
    self.name = mname
    self.price = prce

  def display(self):
    print('Name:', self.name, ', Price:', self.price, ', Ram', self.ram, ', Processor:', self.processor)

m = Model('8GB', 'iPhone16', 130000, 'iOS 16')
m.display()

m1 = Model('6GB', 'iPhone15', 99990)
m1.display()

Mobile Constructor
Model Constructor
Name: 8GB , Price: iPhone16 , Ram 130000 , Processor: iOS 16
Mobile Constructor
Model Constructor
Name: 6GB , Price: iPhone15 , Ram 99990 , Processor: Snapdragon

In [ ]:
###########################  Day 17  ################################
#Inheritence : parameterized super init