<a href="https://colab.research.google.com/github/dilip-ksa/dilip_ml_pythondemo/blob/main/Day16_ML_Journey_OOPs_advanced.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
###################  OOPs  ##################
class Person:
  def __init__(self, name, age, address):
    self.name = name
    self.age = age
    self.address = address
  def display(self):
    print('Name:',self.name, ', Age:',self.age, ', Address:',self.address)

p1 = Person("Dinesh", 25, "Mumbai")
p1.display()

Name: Dinesh , Age: 25 , Address: Mumbai

In [ ]:
class Calculator:
  n1 = 0
  n2 = 0
  res = 0
  def __init__(self, n1, n2):
    self.n1 = n1
    self.n2 = n2
    self.res = 0

  def add(self, n1, n2):
    self.res = n1 + n2

  def sub(self, n1, n2):
    self.res = n1 - n2

  def mul(self, n1, n2):
    self.res = n1 * n2

  def div(self, n1, n2):
    self.res = n1 / n2

c1 = Calculator(10,20)
print(c1.n1, c1.n2, c1.res)
c1.add(40,20)
print(c1.res)
c1.sub(40,20)
print(c1.res)
c1.mul(40,20)
print(c1.res)
c1.div(40,20)
print(c1.res)

10 20 0
60
20
800
2.0

In [ ]:
######################  Day 15  ##############################
# Class example

class Sample:
  def __init__(self):
    self.data = 10

  def read_input(self):
    self.data = input("Enter some text")

  def process_input(self):
    self.data = self.data.upper()

  def display_input(self):
    print(self.data)

s1 = Sample()
s1.display_input()
s1.read_input()
s1.display_input()
s1.process_input()
s1.display_input()

s2 = Sample()
s2.display_input()
s2.read_input()
s2.process_input()
s2.display_input()

10
Enter some textTest
Test
TEST
10
Enter some textWelcome
WELCOME

In [ ]:
class Calculator1:
  def __init__(self):
    self.n1 = 0
    self.n2 = 0
    self.res = 0

  def read_input(self):
    self.n1 = int(input("Enter first number :"))
    self.n2 = int(input("Enter second number :"))

  def add(self):
    self.res = self.n1 + self.n2

  def sub(self):
    self.res = self.n1 - self.n2

  def mul(self):
    self.res = self.n1 * self.n2

  def div(self):
    self.res = self.n1 / self.n2

  def display(self):
    return self.res

  def compare(self, obj):
    if self.res == obj.res:
      return True
    else:
      return False


c1 = Calculator1()
c1.read_input()
c1.sub()
print('Subtraction result:', c1.display())
c1.mul()
print('Multiplication result:', c1.display())
c1.div()
print('Division result:', c1.display())
c1.add()
print('Addition result:', c1.display())

c2 = Calculator1()
c2.read_input()
c2.add()
print('\nAddition result:', c2.display())
c1.compare(c2)

Enter first number :50
Enter second number :10
Subtraction result: 40
Multiplication result: 500
Division result: 5.0
Addition result: 60
Enter first number :40
Enter second number :20

Addition result: 60

True

In [ ]:
class Student:
  teacher = 'Mr. Patil'
  def __init__(self):
    self.name = ''
    self.rollno = 0
    self.math = 0
    self.lit = 0
    self.science = 0
    self.hist = 0
    self.average = 0

  def read_input(self):
    self.name = input("Enter student name :")
    self.rollno = int(input("Enter roll number :"))
    self.math = int(input("Enter marks in Maths :"))
    self.lit = int(input("Enter marks in Literature :"))
    self.science = int(input("Enter marks in Science :"))
    self.hist = int(input("Enter marks in History :"))
  def calculate_average(self):
    self.average = (self.math + self.lit + self.science + self.hist) / 4

  def display_details(self):
    print('Student Name:', self.name, ', Roll no:', self.rollno, ', Average mark:', self.average)

s1 = Student()
s1.read_input()
s1.calculate_average()
s1.display_details()

print('Teacher name:', Student.teacher)

s2 = Student()
s2.teacher = 'John'
print('S2 Teacher name:', s2.teacher)
print('S1 Teacher name:', s2.teacher)

Enter student name :dsf
Enter roll number :34
Enter marks in Maths :5
Enter marks in Literature :65
Enter marks in Science :34
Enter marks in History :5
Student Name: dsf , Roll no: 34  Average mark: 27.25
Teacher name: Mr. Patil
S2 Teacher name: John
S1 Teacher name: John

In [ ]:
class Employee:
  def __init__(self, n, id, dep, sal):
    self.name = n
    self.empid = id
    self.dept = dep
    self.salary = sal
    self.bonus = 20
    self.total_salary = 0

  def calculate_salary(self):
    self.total_salary = self.salary + self.bonus

  def display_details(self):
    print('Employee Name:', self.name, ', Employee ID:', self.empid, '\nDepartment:', self.dept, ', Salary:', self.salary, ', Bonus:', self.bonus, ', Total Salary:', self.total_salary)

  def compare(self, obj, any):
    if self.total_salary == obj.total_salary:
      return True
    else:
      return False

e1 = Employee('Tom', 101, 'IT', 5000)
e1.calculate_salary()
e1.display_details()

Employee Name: Tom , Employee ID: 101
Department: IT , Salary: 5000 , Bonus: 20 , Total Salary: 5020

In [ ]:
#########################  Day 16  ###########################