<a href="https://colab.research.google.com/github/dilip-ksa/dilip_ml_pythondemo/blob/main/Day23_ML_Journey_PCEP_Prep.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
###  Operator overloading - with string
#s1 = 10 # not supported
s1 = 'Hello'
s2 = 'World'
print(s1+s2)
print(s1.__add__(s2))
print(str.__add__(s1,s2))
print(dir(str))

HelloWorld
HelloWorld
HelloWorld
['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [ ]:
## add in 2 student object
class Student:
  def __init__(self, name, marks):
    self.name = name
    self.marks = marks
  def __add__(self, other):
    print(self.name, other.name)
    return self.marks + other.marks


s1 = Student('Tom', 100)
s2 = Student('Harry', 200)
print(s1+s2)

Tom Harry
300

In [ ]:
class Hotel:
  def __init__(self, name, price):
    self.name = name
    self.price = price
  def __gt__(self, other):
    return self.price > other.price

h1 = Hotel('Mariot', 10000)
h2 = Hotel('Taj', 20000)
print(h1>h2)

h1.price = 30000
print(h1>h2)

False
True

In [ ]:
# Method overloading
class Addition:
  def add(self, a, b, c): # This is not executed
    print(a+b+c)
  def add(self, a, b): # always executes this method
    print(a+b)

a1 = Addition()
a1.add(10,20)
a1.add(10,20,30)

30

TypeError: Addition.add() takes 3 positional arguments but 4 were given

In [ ]:
# Method overloading with default
class Addition:
  def add(self, a=None, b=None, c=None): # This is not executed
    if a!=None and b!=None and c!=None:
      print(a+b+c)
    elif a!=None and b!=None:
      print(a+b)
    elif a!=None:
      print(a)
    else:
      print('Invalid arguments')


a1 = Addition()
a1.add(10,20,30)
a1.add(10)
a1.add(10,20)

60
10
30

In [ ]:
#### python destructor
class Addition:
  def add(self, a, b):
    print(a+b)

  def __del__(self): # Do not define destructor method
    print('Destructor called')


a1 = Addition()
a1.add(10,20)
del a1
#a1.add(10,20) # a1 is already deleted in previous line, so a1 is not available at this point

30
Destructor called

In [ ]:
######################  Day 20(29May2025) Exception handling  #######################
n1 = 10
n2 = 0
result = n1/n2
print(result)

ZeroDivisionError: division by zero

In [ ]:
try:
  n1 = int(input('Enter first number: '))
  n2 = int(input('Enter second number: '))
  result = n1/n2
  print('No exception occurred, Result is:', result)
except (ZeroDivisionError,ValueError) as e:
  print('Provide valid input :', e)
  print(e.__dict__)
  print(e.__dir__)
else:
  print('No exception occurred, else block executed')
finally:
  print('Finally block')

print('End of program')

Enter first number: 10
Enter second number: 0
Provide valid input : division by zero
{}
<built-in method __dir__ of ZeroDivisionError object at 0x7b5490981120>
Finally block
End of program

In [ ]:
try:
  n1 = int(input('Enter first number: '))
  n2 = int(input('Enter second number: '))
  result = n1/n2
  print('No exception occurred, Result is:', reslt)
except (ZeroDivisionError,ValueError):
  print('Provide valid input')
except Exception as e:
  print('Exception occurred:', e)
else:
  print('No exception occurred, else block executed')
finally:
  print('Finally block')

print('End of program')

Enter first number: 10
Enter second number: 2
Exception occurred: name 'reslt' is not defined
Finally block
End of program

In [ ]:
try:
  n1 = int(input('Enter first number: '))
  n2 = int(input('Enter second number: '))
  result = n1/n2
  print('No exception occurred, Result is:', result)
except Exception as e:
  print('Exception occurred, provide valid input:', e)
  print(e.__getattribute__)
  print(e.__dir__)
else:
  print('No exception occurred, else block executed')
finally:
  print('Finally block')

print('End of program')

Enter first number: 12
Enter second number: we
Exception occurred, provide valid input: invalid literal for int() with base 10: 'we'
<method-wrapper '__getattribute__' of ValueError object at 0x7b5490981ba0>
<built-in method __dir__ of ValueError object at 0x7b5490981ba0>
Finally block
End of program

In [ ]:
# using sys module
import sys
try:
  n1 = int(input('Enter first number: '))
  n2 = int(input('Enter second number: '))
  result = n1/n2
  print('No exception occurred, Result is:', result)
except Exception as e:
  print('Exception occurred, provide valid input:', e)
  print(sys.exc_info() )
  print(sys.exc_info()[0] )
  print(sys.exc_info()[1] )
  print(sys.exc_info()[2] )
  print(e.args)
  print(e.with_traceback)
  print(sys.get_int_max_str_digits)
else:
  print('No exception occurred, else block executed')
finally:
  print('Finally block')

print('End of program')

Enter first number: 12
Enter second number: 0
Exception occurred, provide valid input: division by zero
(<class 'ZeroDivisionError'>, ZeroDivisionError('division by zero'), <traceback object at 0x7b5475956d80>)
<class 'ZeroDivisionError'>
division by zero
<traceback object at 0x7b5475956d80>
('division by zero',)
<built-in method with_traceback of ZeroDivisionError object at 0x7b54909821a0>
<built-in function get_int_max_str_digits>
Finally block
End of program

In [ ]:
# raise error/exception manually
try:
  n1 = int(input('Enter first number: '))
  n2 = int(input('Enter second number: '))
  if n2 <= 0:
    raise ValueError('Second number cannot be zero or -ve')
  result = n1/n2
  print('No exception occurred, Result is:', result)
except ValueError as e:
  print('ValueError occurred, provide valid input:', e)
  print(e.args)
  print(e.with_traceback)
except Exception as e:
  print('Exception occurred, provide valid input:', e)
  print(e.args)
else:
  print('No exception occurred, else block executed')
finally:
  print('Finally block')

print('End of program')

Enter first number: 10
Enter second number: -10
ValueError occurred, provide valid input: Second number cannot be zero or -ve
('Second number cannot be zero or -ve',)
<built-in method with_traceback of ValueError object at 0x7b547579b280>
Finally block
End of program

In [ ]:
#### User defined function
class UserDefException(Exception):
  def __init__(self, msg):
    self.msg = msg

try:
  n1 = int(input('Enter first number: '))
  n2 = int(input('Enter second number: '))
  if n2 <= 0:
    raise UserDefException('Second number cannot be zero or -ve')
  result = n1/n2
  print('No exception occurred, Result is:', result)
except UserDefException as e:
  print('UserDefException occurred, provide valid input:', e)
  print(e.args)
  print(e.msg)
except Exception as e:
  print('Exception occurred, provide valid input:', e)
  print(e.args)
else:
  print('No exception occurred, else block executed')
finally:
  print('Finally block')

print('End of program')

Enter first number: 10
Enter second number: -1
UserDefException occurred, provide valid input: Second number cannot be zero or -ve
('Second number cannot be zero or -ve',)
Second number cannot be zero or -ve
Finally block
End of program

In [ ]:
class AgeError(Exception):
  pass

try:
  age = int(input('Enter your age: '))
  if age < 0:
    raise AgeError('Age cannot be less than 0')
  print('Age is valid')
except AgeError as e:
  print('AgeError occurred, provide valid input:', e)

print('End of program')

Enter your age: 12
Age is valid
End of program

In [ ]:
# ATM project

class PinError(Exception):
  def __init__(self, msg):
    self.msg = msg

class WithdrawError(Exception):
  def __init__(self, msg):
    self.msg = msg

class Account:
  saved_pin = 1234
  invalid_pin_retry = 0
  existing_balance = 10000
  def check_pin(self, pin):
    if pin == self.saved_pin:
      return True
    else:
      self.invalid_pin_retry += 1
      if self.invalid_pin_retry == 3:
        raise PinError('User entered invalid pin 3 times, account locked')
      else:
        return False

  def withdraw_amount(self, amount):
    if amount > self.existing_balance:
      raise WithdrawError('Insufficient balance to withdraw')
    else:
      self.existing_balance -= amount
      print('Amount withdrawn successfully')
      return self.existing_balance

try:
  a1 = Account()
  while True:
    entered_pin = int(input('Enter your pin: '))
    is_login_valid = a1.check_pin(entered_pin)
    if is_login_valid:
      print('Login successful')
      a1.withdraw_amount(int(input('Enter amount to withdraw: ')))
      print('Remaining balance:', a1.existing_balance)

    else:
      print('Retry login...')

except (PinError, WithdrawError) as e:
  print('Exception occurred, provide valid input:', e.msg)
except Exception as e:
  print('General Exception occurred, check your input:', e)
else:
  print('No exception occurred, else block executed')
finally:
  print('Finally block')

print('End of program')

Enter your pin: 1234
Login successful
Enter amount to withdraw: 2345
Amount withdrawn successfully
Remaining balance: 7655
Enter your pin: 3456
Retry login...
Enter your pin: 1234
Login successful
Enter amount to withdraw: 2345
Amount withdrawn successfully
Remaining balance: 5310
Enter your pin: 1234
Login successful
Enter amount to withdraw: 3456
Amount withdrawn successfully
Remaining balance: 1854
Enter your pin: 1234
Login successful
Enter amount to withdraw: 3456
Exception occurred, provide valid input: Insufficient balance
Finally block
End of program

In [ ]:
############# Modules and packages

%cd my_project

[Errno 2] No such file or directory: 'my_project'
/content/my_project

In [ ]:
%run main.py

Main module
246
collection opr
from coll_func
This is test1

In [ ]:
# Bank operation
class Bank:
  bank_name = 'SBI'
  branch_name = 'RKL'
  def __init__(self, username, pan, address):
    self.username = username
    self.pan = pan
    self.address = address
    self.balance = 0
    print('>>>Bank account created')

  def deposit(self, amount):
    self.balance += amount
    print('>>>Amount deposited successfully')

  def withdraw(self, amount):
    if amount > self.balance:
      print('>>>Insufficient balance')
    else:
      self.balance -= amount
      print('>>>Amount withdrawn successfully, remaining balance :', self.balance)

  def balance_check(self):
    print('>>>Balance :', self.balance)

username = input('Enter username: ')
pan = input('Enter pan number: ')
address = input('Enter address: ')
b1 = Bank(username, pan, address)

while True:
  print('1. Deposit')
  print('2. Withdraw')
  print('3. Balance check')
  print('4. Exit')
  choice = int(input('Enter your choice: '))
  if choice == 1:
    amount = int(input('Enter amount to deposit: '))
    b1.deposit(amount)
  elif choice == 2:
    amount = int(input('Enter amount to withdraw: '))
    b1.withdraw(amount)
  elif choice == 3:
    b1.balance_check()
  elif choice == 4:
    break
  else:
    print('>>>Invalid choice')

print('End of program')

Enter username: sdf
Enter pan number: dsf
Enter address: sd
>>>Bank account created
1. Deposit
2. Withdraw
3. Balance check
4. Exit
Enter your choice: d

ValueError: invalid literal for int() with base 10: 'd'

In [ ]:
l1 = [True, False, '0', 12, 23.5]
for i in l1:
  print(i, end=' ')
  if 0 in l1:
    print('True...')

True True...
False True...
0 True...
12 True...
23.5 True...

In [ ]:
#################### PACP Prep #########
print('Peter\'s sister\'s name\'s \"Anna\"')
print("Peter\'s sister\'s name\'s \"Anna\"")
print('Peter\'s sister\'s name\'s "Anna"')

Peter's sister's name's "Anna"
Peter's sister's name's "Anna"
Peter's sister's name's "Anna"

In [ ]:
i = 250
while len(str(i)) > 72 :
  i *= 2
  break;
else:
  i//= 2
print(i)

125

In [ ]:
n = 0
while n < 4:
  n += 1
  print(n,n, end='* ', sep='-')

1-1* 2-2* 3-3* 4-4*

In [ ]:
v1 = 0
v2 = 1
v1 = v1 ^ v2
v2 = v1 ^ v2
v1 = v1 ^ v2
print(v1, v2)

1 0

In [ ]:
for i in range(1,4,2):
  print(i)

1
3

In [ ]:
x = '23'
y= '34'
print(x<y)
print(x+y)

True
2334

In [ ]:
s = "Hello, Python!"
print(s[-14:15])

Hello, Python!

In [ ]:
lst = ['A', 'B', 'C', '2', '4']
del lst[0:-2]
print(lst)

['2', '4']

In [ ]:
dict = {'a':1, 'b':2, 'c':3}
for i in dict:
  print(i, end=' ')
print()

for k, v in dict.items():
  print(k, v)

a b c
a 1
b 2
c 3

In [ ]:
lst = [i // i for i in range(1, 4)]
print(lst)

[1, 1, 1]

In [ ]:
lst =[[c for c in range(r)] for r in range(3)]
print(lst)
for i in lst:
  for j in i:
    print('*', end=' ')
  print()

[[], [0], [0, 1]]

*
* *

In [ ]:
lst = [2 ** i for i in range(0, 11)]
print(lst)

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512, 1024]

In [ ]:
lst1 = '12,34'
lst2 = lst1.split(',')
print(len(lst1) < len(lst2))

False

In [ ]:
data = ((1, 2),) * 7
print((data[3:10]))

((1, 2), (1, 2), (1, 2), (1, 2))

In [ ]:
list1 = [0,1,2]
list1.insert(0, 1)
print(list1)

[1, 0, 1, 2]

In [ ]:
data = {'a':1, 'b':2, 'c':3}
print(data['a', 'b'])

KeyError: ('a', 'b')

In [ ]:
da = (1,) *3
print(da)
#da[0] = 2 # compile error
print(da)

(1, 1, 1)
(1, 1, 1)

In [ ]:
lst = [7,4,12,15]
sl = sorted(lst)
print(lst)
print(sl)
list1 = [7,4,12,15]
list1.sort()
print(list1)

[7, 4, 12, 15]
[4, 7, 12, 15]
[4, 7, 12, 15]

In [ ]:
print(0.1 + 0.2)

0.30000000000000004

In [ ]:
a = {5,6,7}
print(id(a))
print(a.add(5))
print(id(a))

133968630450880
None
133968630450880

In [ ]:
print(round(0.49))
print(round(-0.45))

0
0

In [ ]:
print(float('inf'))

inf

In [ ]:
num1 = 0o1234
print(num1)

668

In [ ]:
i =0
while i<= 3:
  print(i, end=' ')
  i += 1
else:
  print(0)

0 1 2 3 0

In [ ]:
my_lottery_tickets = 7
winning_tickets = 0
my_luck = winning_tickets / my_lottery_tkts

NameError: name 'my_lottery_tkts' is not defined

In [ ]:
user = 'John'
lines = 50
print('1-Congratulations, ' + user + '! You just wrote ' + str(lines) + ' lines of code')
print(f'2-Congratulations, {user}! You just wrote {lines} lines of code')
print('3-Congratulations, {}! You just wrote {} lines of code'.format(user, lines))
print('3-Congratulations, {}! You just wrote {} lines of code'.format(user, lines, user))
print('3-Congratulations, {}! You just wrote {} lines of code {} ..'.format(user, lines,1))
print('3-Congratulations, {1}! You just wrote {0} lines of code'.format(user, lines, user))
ls = ['John', 50]
print('4-Congratulations, {}! You just wrote {} lines of code'.format(*ls))
ls1 = {'user':'John', 'lines':50}
print('5-Congratulations, {user}! You just wrote {lines} lines of code'.format(**ls1))
ls2 = ['John', 50]
print('6-Congratulations, {0[0]}! You just wrote {0[1]} lines of code'.format(ls2))
ls3 = [user, lines]
print('7-Congratulations, {0}! You just wrote {1} lines of code'.format(*ls3))
tp1 = ('John', 50)
print('8-Congratulations, {}! You just wrote {} lines of code'.format(*tp1))
print('9-Congratulations, {0}! You just wrote {1} lines of code'.format(user, lines))
print('10-Congratulations, {0}! You just wrote {1} lines of code'.format(*tp1))
print()

1-Congratulations, John! You just wrote 50 lines of code
2-Congratulations, John! You just wrote 50 lines of code
3-Congratulations, John! You just wrote 50 lines of code
3-Congratulations, John! You just wrote 50 lines of code
3-Congratulations, John! You just wrote 50 lines of code 1 ..
3-Congratulations, 50! You just wrote John lines of code
4-Congratulations, John! You just wrote 50 lines of code
5-Congratulations, John! You just wrote 50 lines of code
6-Congratulations, John! You just wrote 50 lines of code
7-Congratulations, John! You just wrote 50 lines of code
8-Congratulations, John! You just wrote 50 lines of code
9-Congratulations, John! You just wrote 50 lines of code
10-Congratulations, John! You just wrote 50 lines of code

In [ ]:
lst = [['asd', 23], [54, 'dfg'], ['4rw', 23.5], [65.4, 100]]
#lst = ['asd', '23', '54', 'dfg', '4rw', '23.5', '65.4', '100']
dct = dict(lst)
print(dct)

{'asd': 23, 54: 'dfg', '4rw': 23.5, 65.4: 100}

In [ ]:
s1 = 'hello'
s2 = 'python'
l1 = list(s1)
l2 = list(s2)
#print(l1.intersection(l2)) # not available
st1 = set(s1)
st2 = set(s2)
print(st1)
print(st2)
s3 = st1.intersection(st2)
print(s3)

TypeError: 'list' object is not callable

In [ ]:
list1 = [7,4,12,15]
l1aaa = 0
while l1aaa < len(list1):
  print(list1[l1aaa])
  l1aaa += 1

7
4
12
15

In [ ]:
st = 'New York City'
print(st.find('York'))
print(st.find('York', 10))
print(st.find('York', 10, 15))
print(st[:])
print(st[::])
print(st[::2])
print(st[1::2])
print(st[::-1])
print(st[::-2])
print(st[10:1:-1])
print(st[4:18])

4
-1
-1
New York City
New York City
NwYr iy
e okCt
ytiC kroY weN
yi rYwN
iC kroY w
York City

In [ ]:
tp = tuple(st)
tp

('N', 'e', 'w', ' ', 'Y', 'o', 'r', 'k', ' ', 'C', 'i', 't', 'y')

In [ ]:
tp1 = ('a', 'b', 'c','d', 'e')
tp2 = (1,2,3,4,5)
tp3 = tp1 + tp2
print(tp3)

zipped = zip(tp1, tp2)
print(zipped)
zp_t = tuple(zipped)
print(zp_t)
zp_l = list(zipped)
print(zp_l)

tp11, tp22 = zip(*zp_t)
print(tp11)
print(tp22)

('a', 'b', 'c', 'd', 'e', 1, 2, 3, 4, 5)
<zip object at 0x79e2869c7200>
(('a', 1), ('b', 2), ('c', 3), ('d', 4), ('e', 5))
[]
('a', 'b', 'c', 'd', 'e')
(1, 2, 3, 4, 5)

In [ ]:
#Generators -
def generator():
  count = 0
  while True:
    n = yield count
    if n is not None:
      count = n
    count += 1

my_generator = generator()
print(next(my_generator)) # Output: 0
print(next(my_generator)) # Output: 1
print(my_generator.send(3)) # Output: 4
print(next(my_generator)) # Output: 5

0
1
4
5

In [ ]:
#Generators - send()
MAX_STUDENTS = 50

def get_student_ids():
  student_id = 1
  while student_id <= MAX_STUDENTS:
    # Write your code below
    n = yield student_id
    if n is not None:
      student_id = n
      continue
    student_id += 1

student_id_generator = get_student_ids()
for i in student_id_generator:
  # Write your code below
  if i == 1:
    i = student_id_generator.send(25)
  print(i, end=" ")

25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50

In [ ]:
#Generators - next()
def generator():
  i = 0
  while True:
    yield i
    i += 1

my_generator = generator()
next(my_generator)
next(my_generator)
my_generator.close()
next(my_generator) # raises StopGenerator exception

StopIteration:

In [ ]:
#Generators - close()
def student_counter():
  for i in range(1,5001):
    yield i

student_generator = student_counter()
for student_id in student_generator:
  print(student_id, end=' ')
  # Write your code below:
  if student_id >= 100:
    student_generator.close()

next(student_generator)

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

StopIteration:

In [ ]:
#Generators - close()
def generator():
  i = 0
  while True:
    try:
      yield i
    except GeneratorExit:
      print("Early exit, BYE!")
      break
    i += 1

my_generator = generator()
for item in my_generator:
  print(item)
  if item == 1:
    my_generator.close()

next(my_generator)

0
1
Early exit, BYE!

StopIteration:

In [ ]:
#Connecting Generators - 2 are connected in 3rd
def cs_courses():
    yield 'Computer Science'
    yield 'Artificial Intelligence'

def art_courses():
    yield 'Intro to Art'
    yield 'Selecting Mediums'


def all_courses():
    yield from cs_courses()
    yield from art_courses()

combined_generator = all_courses()
for course in combined_generator:
    print(course)

Computer Science
Artificial Intelligence
Intro to Art
Selecting Mediums

In [ ]:
#Generator Pipelines : multiple generators to perform a series of operations all within one expression. the output of one generator function can be the input of another generator function
def number_generator():
  i = 0
  while True:
    print('----->')
    yield i
    i += 1

def even_number_generator(numbers):
  for n in numbers:
    print('----->------>')
    if n % 2 == 0:
      yield n

even_numbers = even_number_generator(number_generator())

for e in even_numbers:
  print(e, end=' ')
  if e == 10:
    break

----->
----->------>
0 ----->
----->------>
----->
----->------>
2 ----->
----->------>
----->
----->------>
4 ----->
----->------>
----->
----->------>
6 ----->
----->------>
----->
----->------>
8 ----->
----->------>
----->
----->------>
10

In [ ]:
def course_generator():
    yield ("Computer Science", 5)
    yield ("Art", 10)
    yield ("Business", 15)

def add_five_students(courses):
  for course, num_students in courses:
    print('------->')
    yield (course, num_students + 5)

increased_courses = add_five_students(course_generator())
for course in increased_courses:
  print(course)

------->
('Computer Science', 10)
------->
('Art', 15)
------->
('Business', 20)

In [ ]:
def summa():
    yield 'Summa Cum Laude'
def magna():
    yield 'Magna Cum Laude'
def cum_laude():
    yield 'Cum Laude'
# Write your code below:
def graduation_countdown(days):
  while days >= 0:
    days_left = yield days
    if days_left != None:
      days = days_left
    else:
      days = days - 1

days = 25
countdown_generator = (day for day in range(days, -1, -1))
for num in countdown_generator: print(num, end=' ')
print()
grad_days = graduation_countdown(days)
for day in grad_days:
  if day == 15:
    grad_days.send(10)
  elif day == 3:
    grad_days.close()
  print("Days Left: " + str(day))

gpas = [3.2, 4.0, 3.6, 3.9]
def honors_generator(gpas):
  for gpa in gpas:
    if gpa > 3.9:
      yield from summa()
    elif gpa > 3.7:
      yield from magna()
    elif gpa > 3.5:
      yield from cum_laude()

honors = honors_generator(gpas)
for honor_label in honors:
  print(honor_label)

25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1 0
Days Left: 25
Days Left: 24
Days Left: 23
Days Left: 22
Days Left: 21
Days Left: 20
Days Left: 19
Days Left: 18
Days Left: 17
Days Left: 16
Days Left: 15
Days Left: 9
Days Left: 8
Days Left: 7
Days Left: 6
Days Left: 5
Days Left: 4
Days Left: 3
Summa Cum Laude
Cum Laude
Magna Cum Laude

In [ ]:
import numpy as np

def print_var(n, x):
  print(f'{n}: {x} {type(x)}')

x = 2**99
print_var('x', x)

x: 633825300114114700748351602688 <class 'int'>

In [ ]:
y = np.int64(2**33)
print_var('y', y)

y: 8589934592 <class 'numpy.int64'>

In [ ]:
# Create a variable to hold a double floating point number
z = np.float64(387438.238439843934329)
print_var('z', z)

z: 387438.23843984393 <class 'numpy.float64'>

In [ ]:
# Convert the 64-bit integer to a 32-bit integer
y2 = y.astype(np.int32)
print_var('y2', y2)

y3 = np.int32(np.int64(2**31))
print_var('y3', y3)

# Convert the double floating point number to a single floating point number
z2 = np.float32(z)
print_var('z2', z2)

y2: 0 <class 'numpy.int32'>
y3: -2147483648 <class 'numpy.int32'>
z2: 387438.25 <class 'numpy.float32'>

In [ ]:
# Create a function that uses the global variable and a local one
g_x = 1
def f1(x):
  global g_x
  y = 6
  g_x = x * y
  return g_x

print(f1(10))
g_x

60

60

In [ ]:
# Create a function that uses the global variable and a local one
def f1(x):
  global g_x
  y = 6
  g_x = x * y
  return g_x

In [ ]:
# Print the function's return value
print(f'f1(5): {f1(5)}')
print(f'g_x: {g_x}')

print(f'f1(g_x): {f1(g_x)}')
print(f'g_x: {g_x}')

f1(5): 30
g_x: 30
f1(g_x): 180
g_x: 180

In [ ]:
# Create a function that accepts variable arguments as lists and named arguments
def fn(*args, **kwargs):
  # Perform an operation on the list of arguments
  total = sum(args)
  retval = f'sum of args: {total}\n'
  # Perform an operation on the named arguments
  for k, v in kwargs.items():
    retval += f'{k}={v}\n'
  return retval

s = fn(1,2,3, test=5, p='Hello, World!')
print(s)

t = fn(4,5,6, greeting='Hello', recipient='World')
print(t)

sum of args: 6
test=5
p=Hello, World!

sum of args: 15
greeting=Hello
recipient=World

In [ ]:
# Create a python function
def fn_next(begin):
  current = begin
  # Create an inner function to act as a closure
  def fn_inc():
    nonlocal current
    current += 1
    return current
  return fn_inc

# Return the closure function object
get_next = fn_next(100)

# Call the function to return a value that changes each time it is called
print(get_next())
print(get_next())
print(get_next())
print(get_next())
print(get_next())
print(get_next())
print(get_next())

11
11
11
11
11
11
11

In [ ]:
items = ['cake', 'cookie', 'bread']
total_items = items + ['biscuit', 'tart']
print(total_items)
# Result: ['cake', 'cookie', 'bread', 'biscuit', 'tart']
total_items = total_items + ['mango']
print(total_items)
itm1 = []
itm1 = itm1 + ['mango']
print(itm1)

['cake', 'cookie', 'bread', 'biscuit', 'tart']
['cake', 'cookie', 'bread', 'biscuit', 'tart', 'mango']
['mango']

In [ ]:
print(0.0000000000000000000001)

print(9 % 6 % 2)

1e-22
1

In [ ]:
((25 % 13) + 100)
((25 % 13) + 100) / (2 * 13)

#((5 * ((25 % 13) + 100) / (2 * 13)) // 2)

4.3076923076923075

In [ ]:
hour = int(input("Starting time (hours): "))
mins = int(input("Starting time (minutes): "))
dura = int(input("Event duration (minutes): "))

# Write your code here.
dur_hr = dura // 60
dur_min = dura % 60
end_min = (dur_min + mins) % 60
end_hr = (hour + dur_hr + ((dur_min + mins) // 60)) % 24
print("{}:{}".format(end_hr, end_min))

Starting time (hours): 0
Starting time (minutes): 1
Event duration (minutes): 2939
1:0

In [ ]:
print(2 == 2.0)

True

In [ ]:
# Read three numbers.
number1 = int(input("Enter the first number: "))
number2 = int(input("Enter the second number: "))
number3 = int(input("Enter the third number: "))

# Check which one of the numbers is the greatest
# and pass it to the largest_number variable.

largest_number = max(number1, number2, number3)

# Print the result.
print("The largest number is:", largest_number)
print("The Min number is:", min(number1, number2, number3))

Enter the first number: 32
Enter the second number: 12
Enter the third number: 24
The largest number is: 32
The Min number is: 12

In [ ]:
income = float(input("Enter the annual income: "))

relief = 556.02
tax = 0.0
if income <= 85528:
    tax = (income * 0.18) - relief
    if tax < 0 : tax = 0
else:
    tax = 14839.02 + (income - 85528) * 0.32

tax = round(tax, 0)
print("The tax is:", tax, "thalers")

In [ ]:
year = int(input("Enter a year: "))

if year < 1582 :
    print('Not within the Gregorian calendar period')
elif year % 4 != 0 :
    print('Common year !')
elif year % 100 != 0 :
    print('Its a leap year')
elif year % 400 != 0 :
    print('Its a common year')
else :
    print(' Its a leap year')

In [ ]:
print('if else')
if 4> 2:
  #do nothing
  pass
else:
  #Do nothing
  pass

if else

In [ ]:
word_without_vowels = ""

# Prompt the user to enter a word
# and assign it to the user_word variable.
user_word = input("Enter a word:")
user_word = user_word.upper()
for letter in user_word:
    # Complete the body of the loop.
    if letter in "AEIOU":
        continue
    word_without_vowels += letter

# Print the word assigned to word_without_vowels.
print(word_without_vowels)

In [ ]:
blocks = int(input("Enter the number of blocks: "))

height = 1
block_pyramid = 1
while True:

    if block_pyramid + height >= blocks:
        print("Pyramid Height:", height, " No of block:", block_pyramid)
        break
    else:
        height = height +1
        block_pyramid = block_pyramid + height

print("The height of the pyramid:", height)

for i in range(height):
    print(" " * (height - i), "[]" * (i + 1))

Enter the number of blocks: 20
Pyramid Height: 5  No of block: 15
The height of the pyramid: 5
      []
     [][]
    [][][]
   [][][][]
  [][][][][]

In [ ]:
# a German mathematician named Lothar Collatz formulated an intriguing hypothesis
c0 = int(input("Enter a number:"))
steps = 0
while True:
    steps += 1
    if not c0 % 2:
        c0 = c0 // 2
    else:
        c0 = 3 * c0 + 1
    print(c0)

    if c0 != 1:
        continue
    else:
        break

print("Steps =", steps)

In [ ]:
for i in range(2): # at least 1 param
    print(i)
    if i == 10:
      break

0
1

In [ ]:
n = range(4)

for num in n:
    print(num - 1)
else:
    print(num)

-1
0
1
2
3

In [ ]:
# Example 1:
var = 1
print(var > 0)
print(not (var <= 0))


# Example 2:
print(var != 0)
print(not (var == 0))

True
True
True
True

In [ ]:
i = 15
j = 22
print(i & j)

print(not i)
print(~i)

6
False
-16

In [ ]:
i = 8
print(~i)
print(i ^ 0)
print(i ^ 1)

-9
8
9

In [ ]:
my_list = [10, 1, 8, 3, 5, 11]
length = len(my_list)
print("Original List:", my_list)
for i in range(length // 2):
    my_list[i], my_list[length - i - 1] = my_list[length - i - 1], my_list[i]

print("Reversed List:", my_list)

Original List: [10, 1, 8, 3, 5, 11]
Reversed List: [11, 5, 3, 8, 1, 10]

In [ ]:
my_list = [8, 10, 6, 2, 4]  # list to sort
swapped = True  # It's a little fake, we need it to enter the while loop.

while swapped:
    swapped = False  # no swaps so far
    for i in range(len(my_list) - 1):
        if my_list[i] > my_list[i + 1]:
            swapped = True  # a swap occurred!
            my_list[i], my_list[i + 1] = my_list[i + 1], my_list[i]

print(my_list)

[2, 4, 6, 8, 10]

In [ ]:
my_list = []
swapped = True
num = int(input("How many elements do you want to sort: "))

for i in range(num):
    val = float(input("Enter a list element: "))
    my_list.append(val)

while swapped:
    swapped = False
    for i in range(len(my_list) - 1):
        if my_list[i] > my_list[i + 1]:
            swapped = True
            my_list[i], my_list[i + 1] = my_list[i + 1], my_list[i]

print("\nSorted:")
print(my_list)

In [ ]:
list_1 = ["A", "B", "C"]
list_2 = list_1
list_3 = list_2

del list_1[0]
del list_2

print(list_3)

['B', 'C']

In [ ]:
# Cube - a three-dimensional array (3x3x3)

cube = [[[':(', 'x', 'x'],
         [':)', 'x', 'x'],
         [':(', 'x', 'x']],

        [[':)', 'x', 'x'],
         [':(', 'x', 'x'],
         [':)', 'x', 'x']],

        [[':(', 'x', 'x'],
         [':)', 'x', 'x'],
         [':)', 'x', 'x']]]

print(cube)
print(cube[0][0][0])  # outputs: ':('
print(cube[2][2][0])  # outputs: ':)'

[[[':(', 'x', 'x'], [':)', 'x', 'x'], [':(', 'x', 'x']], [[':)', 'x', 'x'], [':(', 'x', 'x'], [':)', 'x', 'x']], [[':(', 'x', 'x'], [':)', 'x', 'x'], [':)', 'x', 'x']]]
:(
:)

In [ ]:
def is_year_leap(year):
    return not (year % 4)

def days_in_month(year, month):
    month_days = [31,28,31,30,31,30,31,31,30,31,30,31]
    if year % 4 == 0 and month == 2:
        return 29
    else:
        return month_days[month - 1]

test_years = [1900, 2000, 2016, 1987]
test_months = [2, 2, 1, 11]
test_results = [28, 29, 31, 30]
for i in range(len(test_years)):
	yr = test_years[i]
	mo = test_months[i]
	print(yr, mo, "->", end="")
	result = days_in_month(yr, mo)
	if result == test_results[i]:
		print("OK")
	else:
		print("Failed")

1900 2 ->Failed
2000 2 ->OK
2016 1 ->OK
1987 11 ->OK

In [ ]:
def is_year_leap(year):
    return not (year % 4)

def days_in_month(year, month):
    month_days = [31,28,31,30,31,30,31,31,30,31,30,31]
    if year % 4 == 0 and month == 2:
        return 29
    else:
        return month_days[month - 1]

def day_of_year(year, month, day):
    day_of_month_year = days_in_month(year, month)
    if day_of_month_year == day:
        return day


print(day_of_year(2000, 12, 31))

print(day_of_year(2001, 11, 31))

31
None

In [ ]:
# Prime number
def is_prime(num):
    for i in range(2, num):
        if num % i == 0:
            return False
    return True


for i in range(1, 20):
	if is_prime(i + 1):
			print(i + 1, end=" ")
print()

2 3 5 7 11 13 17 19

In [ ]:
def liters_100km_to_miles_gallon(liters):
    return (100 * 3.785411784) / (liters * 1.609344 )


def miles_gallon_to_liters_100km(miles):
    return (100 * 3.785411784) / (miles * 1.609344)


print(liters_100km_to_miles_gallon(3.9))
print(liters_100km_to_miles_gallon(7.5))
print(liters_100km_to_miles_gallon(10.))
print(miles_gallon_to_liters_100km(60.3))
print(miles_gallon_to_liters_100km(31.4))
print(miles_gallon_to_liters_100km(23.5))

60.31143162393162
31.36194444444444
23.52145833333333
3.9007393587617467
7.490910297239915
10.009131205673757

In [ ]:
# BMI calculation with inches and feet
def ft_and_inch_to_m(ft, inch = 0.0):
    return ft * 0.3048 + inch * 0.0254


def lb_to_kg(lb):
    return lb * 0.45359237


def bmi(weight, height):
    if height < 1.0 or height > 2.5 or weight < 20 or weight > 200:
        return None

    return weight / height ** 2


print(bmi(weight = lb_to_kg(176), height = ft_and_inch_to_m(5, 7)))

27.565214082533313

In [ ]:
# Factorial
def factorial_function(n):
    if n < 0:
        return None
    if n < 2:
        return 1

    product = 1
    for i in range(2, n + 1):
        product *= i
    return product


for n in range(1, 6):  # testing
    print(n, factorial_function(n))

1 1
2 2
3 6
4 24
5 120

In [ ]:
#Fibonacci series
def fib(n):
    if n < 1:
        return None
    if n < 3:
        return 1

    elem_1 = elem_2 = 1
    the_sum = 0
    for i in range(3, n + 1):
        the_sum = elem_1 + elem_2
        elem_1, elem_2 = elem_2, the_sum
    return the_sum


for n in range(1, 10):  # testing
    print(n, "->", fib(n))

1 -> 1
2 -> 1
3 -> 2
4 -> 3
5 -> 5
6 -> 8
7 -> 13
8 -> 21
9 -> 34

In [ ]:
#Recursion - Fibonacci
def fib(n):
    if n < 1:
        return None
    if n < 3:
        return 1
    return fib(n - 1) + fib(n - 2)


for n in range(1, 10):
    print(n, "->", fib(n))

In [ ]:
# Recursion - Factorial
def factorial_function(n):
    if n < 0:
        return None
    if n < 2:
        return n
    return n * factorial_function(n - 1)



for n in range(1, 5):
    print(n, "->", factorial_function(n))

1 -> 1
2 -> 2
3 -> 6
4 -> 24

In [ ]:
tuple_1 = (1, 2, 4, 8)
tuple_2 = 1., .5, .25, .125

print(tuple_1)
print(tuple_2)

one_element_tuple_1 = (1 )
one_element_tuple_2 = 1.,

print(one_element_tuple_1)
print(one_element_tuple_2)

(1, 2, 4, 8)
(1.0, 0.5, 0.25, 0.125)
1
(1.0,)

In [ ]:
pol_eng_dictionary = {
    "zamek": "castle",
    "woda": "water",
    "gleba": "soil"
    }

copy_dictionary = pol_eng_dictionary.copy()
print(pol_eng_dictionary)
print(copy_dictionary)
copy_dictionary["zamek"] = "lock"
print(pol_eng_dictionary)
print(copy_dictionary)

{'zamek': 'castle', 'woda': 'water', 'gleba': 'soil'}
{'zamek': 'castle', 'woda': 'water', 'gleba': 'soil'}
{'zamek': 'castle', 'woda': 'water', 'gleba': 'soil'}
{'zamek': 'lock', 'woda': 'water', 'gleba': 'soil'}

In [ ]:
d1 = {'Adam Smith': 'A', 'Judy Paxton': 'B+'}
d2 = {'Mary Louis': 'A', 'Patrick White': 'C'}
d3 = {}

for item in (d1, d2):
    d3.update(item)

print(d3)
d3.insert(0, 'new')

{'Adam Smith': 'A', 'Judy Paxton': 'B+', 'Mary Louis': 'A', 'Patrick White': 'C'}

AttributeError: 'dict' object has no attribute 'insert'

In [ ]:
short_list = [1]
one_value = short_list[0.5]

TypeError: list indices must be integers or slices, not float

In [ ]:
def fun(ins = 2, out = 3):
  return ins * out

print(fun(2))

print(12/1)

6
12.0

In [ ]:
dt = ((1,2),) *7
print(dt)
print(dt[3:8])

((1, 2), (1, 2), (1, 2), (1, 2), (1, 2), (1, 2), (1, 2))
((1, 2), (1, 2), (1, 2), (1, 2))

In [ ]:
lt = [1,2,3]
kdt = ("Peter",)*(len(lt) - lt[::-1][0])
print(kdt)

()

In [ ]:
lst = ['marry', 'had', 'a', 'little', 'lamb']

def lst(lst):
  del lst[3]
  lst[3] = 'ram'

lst(lst)
print(lst)

TypeError: 'function' object does not support item deletion

In [ ]:
lst = ['marry', 'had', 'a', 'little', 'lamb']

del lst[3]
lst[3] = 'ram'

print(lst)

lst.insert(3, 'little')
print(lst)

['marry', 'had', 'a', 'ram']
['marry', 'had', 'a', 'little', 'ram']

In [ ]:
print(lst[int(-1/2)])
print(int(-1/2))
print(-1/2)

print(int(-3/2))
print(-3/2)

marry
0
-0.5
-1
-1.5

In [ ]:
tp1 = (1,2)
tp2 = (3,4)
tp3 = tp1 + tp2
print(tp3)
print()
ls1 = [print(x) for x in (tp1 + tp2)]
print(ls1)
print()
ls2 = [print(sum(x)) for x in [tp1 + tp2]]
print(ls2)

(1, 2, 3, 4)

1
2
3
4
[None, None, None, None]

10
[None]

In [ ]:
x = [1,2,3,4,5,6,7,8,9]
x[::2] = 10,20,30,40,50,60
print(x)

ValueError: attempt to assign sequence of size 6 to extended slice of size 5

In [ ]:
dt = "Hello@Peter!!"
print(dt.lower())

hello@peter!!

In [ ]:
x = {(1,2):1, (2,3):2}
print(x)
print(x[1,2,])

{(1, 2): 1, (2, 3): 2}
1

In [ ]:
dt = {}
dt[1] = 1
dt['1'] = 2
dt[1.0] = 4
print(dt)

{1: 4, '1': 2}

In [ ]:
x = 2
y = 1
x *= y + 1
#x = x * y + 1
print(x)

4

In [ ]:
a = 1
b = 0
x = a or b
y = not (a and b)
print(x)
print(y)
print(x + y)

1
True
2

In [ ]:
z = 3
y = 7
x = y == z and y > z or z > y and z != y
print(x)

False

In [ ]:

lst1 = [1, 2, 3]
lst2 = [1, 2, 3]
print(lst1 == lst2)
print(lst1 is lst2)

True
False
False

In [ ]:
x = "Peter"
y = "Peter"
print(x is y)

z = 1
p = ++z
print(++z)
print(p)

True
1
1

In [ ]:
x = 2
y = 6
x +=2**3
print(x)
#x//=y//2//3
x = x//(y//2//3)
print(x)

10
10

In [ ]:
dt =str(bool(1) + float(12)/float(2))
print(dt)

print(bool(1))
print(float(12)/float(2))
print(bool(1) + 1 + 1.0)
print(True + 1 + 1.0)
print(False + 1 + 1.0)

7.0
True
6.0
3.0
3.0
2.0

In [ ]:
x = 5.1
y = 2
print(x//y)

2.0

In [ ]:
x = "\\\""
print(x)

\"

In [ ]:
x = """
"""
print(len(x))

1

In [ ]:
str1 = "Peter"
str2 = str1[:]
print(id(str1))
print(id(str2))
str3 = str2[::]
print(id(str3))

st1 = "Dilip"
st2 = "Dilip"
print(id(st1))
print(id(st2))

lt1 = [1,2]
lt2 = [1,2]
print(id(lt1))
print(id(lt2))

133659137785200
133659137785200
133659137785200
133658874968816
133658874968816
133659137873728
133658874956096

In [ ]:
other = -1
for i in range(1,3):
  for j in range(1,2):
    if i == j:
      other += 1
  else:
    other += 1
print(other)

2

In [ ]:
plannets = 1 + 1 // 2 * 3
print(plannets)
if plannets > 0 :
  print("#")
elif plannets > 1:
  print("##")
else:
  print("###")

1
#

In [ ]:
tr = 1
while tr < 2 :
  tr *= 2
  print("*")
else:
  print("*")

*
*

In [ ]:
ans = [True, False, True]
sel = ans[2:]
print(sel)
point = 0
for val in sel[-1:]:
  if val:
    point += 1
print(point)

[True]
1

In [ ]:
def process(data):
  data[1] = 2
  return data[-2]

data = [0 for i in range(3)]
print(data)
print(process(data))
print(data)
print(data[-2])

[0, 0, 0]
2
[0, 2, 0]
2

In [ ]:
print(3**0)
print(1**2)

1
1

In [ ]:
po = 2
while po < 5:
  po +=1
  if po == 3:
    continue
  print("@", end="")
else:
  print("@")

@@@

In [ ]:
num = [1, 0.5, 0.25, 0.125]
print(num[num[0]])
#print(num[num[1]]) # float index not allowed
#print(num[-10]) # IndexError out of range
print(num[0:4])

0.5
[1, 0.5, 0.25, 0.125]

In [ ]:
ans = [False, True, True]
sel = ans[:]
print(sel)
point = 0
for val in sel[1:]:
  if val:
    point += 1
print(point)

[False, True, True]
2

In [ ]:
dat = [True, 3.1234, -2]
print(dat.index(-2) not in dat)
print(dat.index(dat[-2]) == 0)
print(len(dat[0:2])== 0)
print(-2 in dat[2:4])

True
False
False
True

In [ ]:
def process(data):
  data = 2
  return data

data = [0 for i in range(3)]
print(data)
result = process(data)
print(result[2])

[0, 0, 0]

TypeError: 'int' object is not subscriptable

In [ ]:
def walk(top):
  if top == 0:
    return 0
  else:
    return top * walk(top - 1)

print(walk(2))

0

In [ ]:
def combine(width, height = 10, debth = 0, is_3d = False):
  if is_3d:
    return [width, height, debth]

print(combine(2)[0])

TypeError: 'NoneType' object is not subscriptable

In [ ]:
def sample(value):
  return total - value

total = 4
total = sample(2)
print(total)
total = sample(1)
print(total)

2
1

In [ ]:
def sample(value):
  return value + value

x = sample(value=1)
y = sample(x)
print(y)

4

In [ ]:
def process(data):
  data = [1,2,3]
  return data[-2]

data = [0 for i in range(3)]
print(data)
result = process(data)
print(result)
print(data[-2])

[0, 0, 0]
2
0

In [ ]:
def walk(stop, start=1):
  print(start, end=' ')
  if start +1 < stop:
    walk(stop, start + 1)

walk(3)

1 2

In [ ]:
A=1
print(2**3/A-2)
print(4/2**3-2)
print(1**3/4-1)
print(1*4//2**3)

6.0
-1.5
-0.75
0

In [ ]:
#numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
numbers = list(range(1, 11))
print(numbers)
print(type(numbers))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
<class 'list'>

In [13]:
#Using OS module
import os
pf = "python_dev.txt"
file= open(pf, 'w')
file.write("This is Python Developers Lab")
file.close()
file = open(pf, 'r')
for l in file:
  print("Test->",l)
print('')
file.seek(0)
TEXT = file.read(1)
file.close()
print(TEXT)
file = os.popen(pf, 'w')
file.write("This is Python Developers Lab")
file.close()
file = open(pf, 'r')
TEXT = file.read()
#print(TEXT)

Test-> This is Python Developers Lab

T

In [ ]:
import math
#Area of Circle
r = float(input(' Enter the radius of a circle: '))
Area_circle = (math.pi) * r * r
#Area of Square
s = float(input(' Enter the sides of a sqaure: '))
Area_square =  s * s
#Area of Triangle
b = float(input(' Enter the base of the triangle:'))
h = float(input(' Enter the height of the triangle :'))
Area_triangle = 0.5 * b * h
#Area of Rectangle
l = float(input(' Enter the length of the rectangle:'))
w = float(input(' Enter the width of the rectangle:'))
Area_rect = l * w
print("Area of Circle is : ", (math.ceil(Area_circle)))
print("Area of Square is : ", Area_square)
print("Area of Triangle is : ", Area_triangle)
print("Area of Rectangle is : ", Area_rect)

 Enter the radius of a circle: 4
 Enter the sides of a sqaure: 5
 Enter the base of the triangle:6
 Enter the height of the triangle :7
 Enter the length of the rectangle:8
 Enter the width of the rectangle:8
Area of Circle is :  51
Area of Square is :  25.0
Area of Triangle is :  21.0
Area of Rectangle is :  64.0

In [ ]:
import numpy as np
array1 = np.array([6, 7, 3, 4])
array2 = np.array([2, 8 ,3, 5])
sum = array1+array2
sub = array1-array2
mul  = array1*array2
div = array1/array2
avg = sum/2
mod = array1%array2
print("The Addition of two arrays :",sum)
print("The Subtraction of two arrays :",sub)
print("The Multiplication of two arrays :",mul)
print("The Division of two arrays :",div)
print("The Average of two arrays :",avg)
print("The Mod of two arrays :",mod)

The Addition of two arrays : [ 8 15  6  9]
The Subtraction of two arrays : [ 4 -1  0 -1]
The Multiplication of two arrays : [12 56  9 20]
The Division of two arrays : [3.    0.875 1.    0.8  ]
The Average of two arrays : [4.  7.5 3.  4.5]
The Mod of two arrays : [0 7 0 4]

In [ ]:
import numpy as np
array1 = np.array([6, 7, 3, 4])
array2 = np.array([2, 8 ,3, 5])
sum = array1+array2
sub = array1-array2
mul  = array1*array2
div = array1/array2
avg = sum/2
mod = array1%array2
print("The Addition of two arrays :",sum)
print("The Subtraction of two arrays :",sub)
print("The Multiplication of two arrays :",mul)
print("The Division of two arrays :",div)
print("The Average of two arrays :",avg)
print("The Mod of two arrays :",mod)

The Addition of two arrays : [ 8 15  6  9]
The Subtraction of two arrays : [ 4 -1  0 -1]
The Multiplication of two arrays : [12 56  9 20]
The Division of two arrays : [3.    0.875 1.    0.8  ]
The Average of two arrays : [4.  7.5 3.  4.5]
The Mod of two arrays : [0 7 0 4]

In [ ]:
import  random
charlist =  ["R","S","G","D","T","K"]
print("The given list charlist:",charlist)
random.shuffle(charlist)
c1= random.choice(charlist)
c2= random.sample(charlist, k = 3)
print("The shuffled list of charlist:",charlist)
print("Randomly selected item from the charlist:",c1)
print("Randomly selected 3 items from the charlist:",c2)
print("Random floating point number between 0 and 1 is:",random.random())
print("Random floating point number between 70 and 90 is:",random.uniform(90, 70))

The given list charlist: ['R', 'S', 'G', 'D', 'T', 'K']
The shuffled list of charlist: ['D', 'S', 'R', 'T', 'G', 'K']
Randomly selected item from the charlist: T
Randomly selected 3 items from the charlist: ['S', 'R', 'D']
Random floating point number between 0 and 1 is: 0.11235663375203764
Random floating point number between 70 and 90 is: 86.08203484571156

In [ ]:
import statistics as st
list_data = [8, -4, 6, 3,-2, 3, 9]
print("The Mean value for the given numbers:",st.mean(list_data))
print("The Median value for the given numbers:",st.median(list_data))
print("The Mode value for the given numbers:",st.mode(list_data))
print("The Standard deviation for the given mumbers:",st.stdev(list_data))
print("The variance for the given numbers:",st.variance(list_data))

The Mean value for the given numbers: 3.2857142857142856
The Median value for the given numbers: 3
The Mode value for the given numbers: 3
The Standard deviation for the given mumbers: 4.8892496259407645
The variance for the given numbers: 23.904761904761905

In [ ]:
s = 'Hello, Python!'
print(s[-14:15])

Hello, Python!

In [ ]:
lst = [[c for c in range(r)] for r in range(3)]
print(lst)
print(list(range(0)))

[[], [0], [0, 1]]
[]

In [ ]:
from math import pi as xyz
print(pi)

3.141592653589793

In [2]:
def func(x):
  s = '+'
  for i in range(x):
    s += s
    yield s

for l in func(2):
  print(l, end='')

++++++

In [4]:
print(chr(ord('P') + 2))

R

In [8]:
from datetime import datetime
dt1 = datetime(2019, 11,22, 11,27,22)
dt2 = datetime(2018, 10,21, 0,0,0)
print(dt1 - dt2)

397 days, 11:27:22

In [12]:
from datetime import timedelta
td = timedelta(days=7, weeks=1, hours=11)
print(td * 2)

28 days, 22:00:00

In [22]:
ls = [0,2,4,7,9,10]
foo = filter(lambda x: x**2, ls)
print(list(foo))
foo = map(lambda x: x**2, ls)
print(list(foo))

[2, 4, 7, 9, 10]
[0, 4, 16, 49, 81, 100]

In [23]:
import math
print(dir(math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'cbrt', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'exp2', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'nextafter', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc', 'ulp']

In [34]:
class A:
  A = 1
  def __init__(self):
     self.a = 0

a = A()
print(hasattr(a, 'a'))
print(hasattr(a, 'A'))
print(hasattr(A, 'a'))
print(hasattr(A, 'A'))

True
True
False
True

In [27]:
ls = [i * i for i in range(5)]
foo = list(filter(lambda x: x % 2, ls))
print(foo)
foo = list(map(lambda x: x % 2, ls))
print(foo)
foo = list(filter(lambda x: x / 2, ls))
print(foo)
foo = list(map(lambda x: x / 2, ls))
print(foo)

[1, 9]
[0, 1, 0, 1, 0]
[1, 4, 9, 16]
[0.0, 0.5, 2.0, 4.5, 8.0]

In [28]:
class AA:
  def __init__(self, v =2):
     self.v=v

  def set(self, v = 1):
    self.v +=v

aa = AA()
bb = aa
bb.set()
print(aa.v)

3

In [32]:
from decimal import DecimalException
try:
  raise ZeroDivisionError
except BaseException:
  print("BaseException")
except Exception:
  print("Exception")
except:
  print("Other Exception")

BaseException