<a href="https://colab.research.google.com/github/dilip-ksa/dilip_ml_pythondemo/blob/main/Day23_ML_Journey_PCEP_Prep.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
###  Operator overloading - with string
#s1 = 10 # not supported
s1 = 'Hello'
s2 = 'World'
print(s1+s2)
print(s1.__add__(s2))
print(str.__add__(s1,s2))
print(dir(str))

HelloWorld
HelloWorld
HelloWorld
['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [ ]:
## add in 2 student object
class Student:
  def __init__(self, name, marks):
    self.name = name
    self.marks = marks
  def __add__(self, other):
    print(self.name, other.name)
    return self.marks + other.marks


s1 = Student('Tom', 100)
s2 = Student('Harry', 200)
print(s1+s2)

Tom Harry
300

In [ ]:
class Hotel:
  def __init__(self, name, price):
    self.name = name
    self.price = price
  def __gt__(self, other):
    return self.price > other.price

h1 = Hotel('Mariot', 10000)
h2 = Hotel('Taj', 20000)
print(h1>h2)

h1.price = 30000
print(h1>h2)

False
True

In [ ]:
# Method overloading
class Addition:
  def add(self, a, b, c): # This is not executed
    print(a+b+c)
  def add(self, a, b): # always executes this method
    print(a+b)

a1 = Addition()
a1.add(10,20)
a1.add(10,20,30)

30

TypeError: Addition.add() takes 3 positional arguments but 4 were given

In [ ]:
# Method overloading with default
class Addition:
  def add(self, a=None, b=None, c=None): # This is not executed
    if a!=None and b!=None and c!=None:
      print(a+b+c)
    elif a!=None and b!=None:
      print(a+b)
    elif a!=None:
      print(a)
    else:
      print('Invalid arguments')


a1 = Addition()
a1.add(10,20,30)
a1.add(10)
a1.add(10,20)

60
10
30

In [ ]:
#### python destructor
class Addition:
  def add(self, a, b):
    print(a+b)

  def __del__(self): # Do not define destructor method
    print('Destructor called')


a1 = Addition()
a1.add(10,20)
del a1
#a1.add(10,20) # a1 is already deleted in previous line, so a1 is not available at this point

30
Destructor called

In [ ]:
######################  Day 20(29May2025) Exception handling  #######################
n1 = 10
n2 = 0
result = n1/n2
print(result)

ZeroDivisionError: division by zero

In [ ]:
try:
  n1 = int(input('Enter first number: '))
  n2 = int(input('Enter second number: '))
  result = n1/n2
  print('No exception occurred, Result is:', result)
except (ZeroDivisionError,ValueError) as e:
  print('Provide valid input :', e)
  print(e.__dict__)
  print(e.__dir__)
else:
  print('No exception occurred, else block executed')
finally:
  print('Finally block')

print('End of program')

Enter first number: 10
Enter second number: 0
Provide valid input : division by zero
{}
<built-in method __dir__ of ZeroDivisionError object at 0x7b5490981120>
Finally block
End of program

In [ ]:
try:
  n1 = int(input('Enter first number: '))
  n2 = int(input('Enter second number: '))
  result = n1/n2
  print('No exception occurred, Result is:', reslt)
except (ZeroDivisionError,ValueError):
  print('Provide valid input')
except Exception as e:
  print('Exception occurred:', e)
else:
  print('No exception occurred, else block executed')
finally:
  print('Finally block')

print('End of program')

Enter first number: 10
Enter second number: 2
Exception occurred: name 'reslt' is not defined
Finally block
End of program

In [ ]:
try:
  n1 = int(input('Enter first number: '))
  n2 = int(input('Enter second number: '))
  result = n1/n2
  print('No exception occurred, Result is:', result)
except Exception as e:
  print('Exception occurred, provide valid input:', e)
  print(e.__getattribute__)
  print(e.__dir__)
else:
  print('No exception occurred, else block executed')
finally:
  print('Finally block')

print('End of program')

Enter first number: 12
Enter second number: we
Exception occurred, provide valid input: invalid literal for int() with base 10: 'we'
<method-wrapper '__getattribute__' of ValueError object at 0x7b5490981ba0>
<built-in method __dir__ of ValueError object at 0x7b5490981ba0>
Finally block
End of program

In [ ]:
# using sys module
import sys
try:
  n1 = int(input('Enter first number: '))
  n2 = int(input('Enter second number: '))
  result = n1/n2
  print('No exception occurred, Result is:', result)
except Exception as e:
  print('Exception occurred, provide valid input:', e)
  print(sys.exc_info() )
  print(sys.exc_info()[0] )
  print(sys.exc_info()[1] )
  print(sys.exc_info()[2] )
  print(e.args)
  print(e.with_traceback)
  print(sys.get_int_max_str_digits)
else:
  print('No exception occurred, else block executed')
finally:
  print('Finally block')

print('End of program')

Enter first number: 12
Enter second number: 0
Exception occurred, provide valid input: division by zero
(<class 'ZeroDivisionError'>, ZeroDivisionError('division by zero'), <traceback object at 0x7b5475956d80>)
<class 'ZeroDivisionError'>
division by zero
<traceback object at 0x7b5475956d80>
('division by zero',)
<built-in method with_traceback of ZeroDivisionError object at 0x7b54909821a0>
<built-in function get_int_max_str_digits>
Finally block
End of program

In [ ]:
# raise error/exception manually
try:
  n1 = int(input('Enter first number: '))
  n2 = int(input('Enter second number: '))
  if n2 <= 0:
    raise ValueError('Second number cannot be zero or -ve')
  result = n1/n2
  print('No exception occurred, Result is:', result)
except ValueError as e:
  print('ValueError occurred, provide valid input:', e)
  print(e.args)
  print(e.with_traceback)
except Exception as e:
  print('Exception occurred, provide valid input:', e)
  print(e.args)
else:
  print('No exception occurred, else block executed')
finally:
  print('Finally block')

print('End of program')

Enter first number: 10
Enter second number: -10
ValueError occurred, provide valid input: Second number cannot be zero or -ve
('Second number cannot be zero or -ve',)
<built-in method with_traceback of ValueError object at 0x7b547579b280>
Finally block
End of program

In [ ]:
#### User defined function
class UserDefException(Exception):
  def __init__(self, msg):
    self.msg = msg

try:
  n1 = int(input('Enter first number: '))
  n2 = int(input('Enter second number: '))
  if n2 <= 0:
    raise UserDefException('Second number cannot be zero or -ve')
  result = n1/n2
  print('No exception occurred, Result is:', result)
except UserDefException as e:
  print('UserDefException occurred, provide valid input:', e)
  print(e.args)
  print(e.msg)
except Exception as e:
  print('Exception occurred, provide valid input:', e)
  print(e.args)
else:
  print('No exception occurred, else block executed')
finally:
  print('Finally block')

print('End of program')

Enter first number: 10
Enter second number: -1
UserDefException occurred, provide valid input: Second number cannot be zero or -ve
('Second number cannot be zero or -ve',)
Second number cannot be zero or -ve
Finally block
End of program

In [ ]:
class AgeError(Exception):
  pass

try:
  age = int(input('Enter your age: '))
  if age < 0:
    raise AgeError('Age cannot be less than 0')
  print('Age is valid')
except AgeError as e:
  print('AgeError occurred, provide valid input:', e)

print('End of program')

Enter your age: 12
Age is valid
End of program

In [ ]:
# ATM project

class PinError(Exception):
  def __init__(self, msg):
    self.msg = msg

class WithdrawError(Exception):
  def __init__(self, msg):
    self.msg = msg

class Account:
  saved_pin = 1234
  invalid_pin_retry = 0
  existing_balance = 10000
  def check_pin(self, pin):
    if pin == self.saved_pin:
      return True
    else:
      self.invalid_pin_retry += 1
      if self.invalid_pin_retry == 3:
        raise PinError('User entered invalid pin 3 times, account locked')
      else:
        return False

  def withdraw_amount(self, amount):
    if amount > self.existing_balance:
      raise WithdrawError('Insufficient balance to withdraw')
    else:
      self.existing_balance -= amount
      print('Amount withdrawn successfully')
      return self.existing_balance

try:
  a1 = Account()
  while True:
    entered_pin = int(input('Enter your pin: '))
    is_login_valid = a1.check_pin(entered_pin)
    if is_login_valid:
      print('Login successful')
      a1.withdraw_amount(int(input('Enter amount to withdraw: ')))
      print('Remaining balance:', a1.existing_balance)

    else:
      print('Retry login...')

except (PinError, WithdrawError) as e:
  print('Exception occurred, provide valid input:', e.msg)
except Exception as e:
  print('General Exception occurred, check your input:', e)
else:
  print('No exception occurred, else block executed')
finally:
  print('Finally block')

print('End of program')

Enter your pin: 1234
Login successful
Enter amount to withdraw: 2345
Amount withdrawn successfully
Remaining balance: 7655
Enter your pin: 3456
Retry login...
Enter your pin: 1234
Login successful
Enter amount to withdraw: 2345
Amount withdrawn successfully
Remaining balance: 5310
Enter your pin: 1234
Login successful
Enter amount to withdraw: 3456
Amount withdrawn successfully
Remaining balance: 1854
Enter your pin: 1234
Login successful
Enter amount to withdraw: 3456
Exception occurred, provide valid input: Insufficient balance
Finally block
End of program

In [ ]:
############# Modules and packages

%cd my_project

[Errno 2] No such file or directory: 'my_project'
/content/my_project

In [ ]:
%run main.py

Main module
246
collection opr
from coll_func
This is test1

In [ ]:
# Bank operation
class Bank:
  bank_name = 'SBI'
  branch_name = 'RKL'
  def __init__(self, username, pan, address):
    self.username = username
    self.pan = pan
    self.address = address
    self.balance = 0
    print('>>>Bank account created')

  def deposit(self, amount):
    self.balance += amount
    print('>>>Amount deposited successfully')

  def withdraw(self, amount):
    if amount > self.balance:
      print('>>>Insufficient balance')
    else:
      self.balance -= amount
      print('>>>Amount withdrawn successfully, remaining balance :', self.balance)

  def balance_check(self):
    print('>>>Balance :', self.balance)

username = input('Enter username: ')
pan = input('Enter pan number: ')
address = input('Enter address: ')
b1 = Bank(username, pan, address)

while True:
  print('1. Deposit')
  print('2. Withdraw')
  print('3. Balance check')
  print('4. Exit')
  choice = int(input('Enter your choice: '))
  if choice == 1:
    amount = int(input('Enter amount to deposit: '))
    b1.deposit(amount)
  elif choice == 2:
    amount = int(input('Enter amount to withdraw: '))
    b1.withdraw(amount)
  elif choice == 3:
    b1.balance_check()
  elif choice == 4:
    break
  else:
    print('>>>Invalid choice')

print('End of program')

Enter username: sdf
Enter pan number: dsf
Enter address: sd
>>>Bank account created
1. Deposit
2. Withdraw
3. Balance check
4. Exit
Enter your choice: d

ValueError: invalid literal for int() with base 10: 'd'

In [ ]:
l1 = [True, False, '0', 12, 23.5]
for i in l1:
  print(i, end=' ')
  if 0 in l1:
    print('True...')

True True...
False True...
0 True...
12 True...
23.5 True...

In [ ]:
#################### PACP Prep #########
print('Peter\'s sister\'s name\'s \"Anna\"')
print("Peter\'s sister\'s name\'s \"Anna\"")
print('Peter\'s sister\'s name\'s "Anna"')

Peter's sister's name's "Anna"
Peter's sister's name's "Anna"
Peter's sister's name's "Anna"

In [ ]:
i = 250
while len(str(i)) > 72 :
  i *= 2
  break;
else:
  i//= 2
print(i)

125

In [ ]:
n = 0
while n < 4:
  n += 1
  print(n,n, end='* ', sep='-')

1-1* 2-2* 3-3* 4-4*

In [ ]:
v1 = 0
v2 = 1
v1 = v1 ^ v2
v2 = v1 ^ v2
v1 = v1 ^ v2
print(v1, v2)

1 0

In [ ]:
for i in range(1,4,2):
  print(i)

1
3

In [ ]:
x = '23'
y= '34'
print(x<y)
print(x+y)

True
2334

In [ ]:
s = "Hello, Python!"
print(s[-14:15])

Hello, Python!

In [ ]:
lst = ['A', 'B', 'C', '2', '4']
del lst[0:-2]
print(lst)

['2', '4']

In [ ]:
dict = {'a':1, 'b':2, 'c':3}
for i in dict:
  print(i, end=' ')
print()

for k, v in dict.items():
  print(k, v)

a b c
a 1
b 2
c 3

In [ ]:
lst = [i // i for i in range(1, 4)]
print(lst)

[1, 1, 1]

In [ ]:
lst =[[c for c in range(r)] for r in range(3)]
print(lst)
for i in lst:
  for j in i:
    print('*', end=' ')
  print()

[[], [0], [0, 1]]

*
* *

In [ ]:
lst = [2 ** i for i in range(0, 11)]
print(lst)

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512, 1024]

In [ ]:
lst1 = '12,34'
lst2 = lst1.split(',')
print(len(lst1) < len(lst2))

False

In [ ]:
data = ((1, 2),) * 7
print((data[3:10]))

((1, 2), (1, 2), (1, 2), (1, 2))

In [ ]:
list1 = [0,1,2]
list1.insert(0, 1)
print(list1)

[1, 0, 1, 2]

In [ ]:
data = {'a':1, 'b':2, 'c':3}
print(data['a', 'b'])

KeyError: ('a', 'b')

In [ ]:
da = (1,) *3
print(da)
#da[0] = 2 # compile error
print(da)

(1, 1, 1)
(1, 1, 1)

In [ ]:
lst = [7,4,12,15]
sl = sorted(lst)
print(lst)
print(sl)
list1 = [7,4,12,15]
list1.sort()
print(list1)

[7, 4, 12, 15]
[4, 7, 12, 15]
[4, 7, 12, 15]

In [ ]:
print(0.1 + 0.2)

0.30000000000000004

In [ ]:
a = {5,6,7}
print(id(a))
print(a.add(5))
print(id(a))

133968630450880
None
133968630450880

In [ ]:
print(round(0.49))
print(round(-0.45))

0
0

In [ ]:
print(float('inf'))

inf

In [ ]:
num1 = 0o1234
print(num1)

668

In [ ]:
i =0
while i<= 3:
  print(i, end=' ')
  i += 1
else:
  print(0)

0 1 2 3 0

In [ ]:
my_lottery_tickets = 7
winning_tickets = 0
my_luck = winning_tickets / my_lottery_tkts

NameError: name 'my_lottery_tkts' is not defined

In [ ]:
user = 'John'
lines = 50
print('1-Congratulations, ' + user + '! You just wrote ' + str(lines) + ' lines of code')
print(f'2-Congratulations, {user}! You just wrote {lines} lines of code')
print('3-Congratulations, {}! You just wrote {} lines of code'.format(user, lines))
print('3-Congratulations, {}! You just wrote {} lines of code'.format(user, lines, user))
print('3-Congratulations, {}! You just wrote {} lines of code {} ..'.format(user, lines,1))
print('3-Congratulations, {1}! You just wrote {0} lines of code'.format(user, lines, user))
ls = ['John', 50]
print('4-Congratulations, {}! You just wrote {} lines of code'.format(*ls))
ls1 = {'user':'John', 'lines':50}
print('5-Congratulations, {user}! You just wrote {lines} lines of code'.format(**ls1))
ls2 = ['John', 50]
print('6-Congratulations, {0[0]}! You just wrote {0[1]} lines of code'.format(ls2))
ls3 = [user, lines]
print('7-Congratulations, {0}! You just wrote {1} lines of code'.format(*ls3))
tp1 = ('John', 50)
print('8-Congratulations, {}! You just wrote {} lines of code'.format(*tp1))
print('9-Congratulations, {0}! You just wrote {1} lines of code'.format(user, lines))
print('10-Congratulations, {0}! You just wrote {1} lines of code'.format(*tp1))
print()

1-Congratulations, John! You just wrote 50 lines of code
2-Congratulations, John! You just wrote 50 lines of code
3-Congratulations, John! You just wrote 50 lines of code
3-Congratulations, John! You just wrote 50 lines of code
3-Congratulations, John! You just wrote 50 lines of code 1 ..
3-Congratulations, 50! You just wrote John lines of code
4-Congratulations, John! You just wrote 50 lines of code
5-Congratulations, John! You just wrote 50 lines of code
6-Congratulations, John! You just wrote 50 lines of code
7-Congratulations, John! You just wrote 50 lines of code
8-Congratulations, John! You just wrote 50 lines of code
9-Congratulations, John! You just wrote 50 lines of code
10-Congratulations, John! You just wrote 50 lines of code

In [ ]:
lst = [['asd', 23], [54, 'dfg'], ['4rw', 23.5], [65.4, 100]]
#lst = ['asd', '23', '54', 'dfg', '4rw', '23.5', '65.4', '100']
dct = dict(lst)
print(dct)

{'asd': 23, 54: 'dfg', '4rw': 23.5, 65.4: 100}

In [ ]:
s1 = 'hello'
s2 = 'python'
l1 = list(s1)
l2 = list(s2)
#print(l1.intersection(l2)) # not available
st1 = set(s1)
st2 = set(s2)
print(st1)
print(st2)
s3 = st1.intersection(st2)
print(s3)

TypeError: 'list' object is not callable

In [ ]:
list1 = [7,4,12,15]
l1aaa = 0
while l1aaa < len(list1):
  print(list1[l1aaa])
  l1aaa += 1

7
4
12
15

In [ ]:
st = 'New York City'
print(st.find('York'))
print(st.find('York', 10))
print(st.find('York', 10, 15))
print(st[:])
print(st[::])
print(st[::2])
print(st[1::2])
print(st[::-1])
print(st[::-2])
print(st[10:1:-1])
print(st[4:18])

4
-1
-1
New York City
New York City
NwYr iy
e okCt
ytiC kroY weN
yi rYwN
iC kroY w
York City

In [ ]:
tp = tuple(st)
tp

('N', 'e', 'w', ' ', 'Y', 'o', 'r', 'k', ' ', 'C', 'i', 't', 'y')

In [ ]:
tp1 = ('a', 'b', 'c','d', 'e')
tp2 = (1,2,3,4,5)
tp3 = tp1 + tp2
print(tp3)

zipped = zip(tp1, tp2)
print(zipped)
zp_t = tuple(zipped)
print(zp_t)
zp_l = list(zipped)
print(zp_l)

tp11, tp22 = zip(*zp_t)
print(tp11)
print(tp22)

('a', 'b', 'c', 'd', 'e', 1, 2, 3, 4, 5)
<zip object at 0x79e2869c7200>
(('a', 1), ('b', 2), ('c', 3), ('d', 4), ('e', 5))
[]
('a', 'b', 'c', 'd', 'e')
(1, 2, 3, 4, 5)

In [ ]:
#Generators -
def generator():
  count = 0
  while True:
    n = yield count
    if n is not None:
      count = n
    count += 1

my_generator = generator()
print(next(my_generator)) # Output: 0
print(next(my_generator)) # Output: 1
print(my_generator.send(3)) # Output: 4
print(next(my_generator)) # Output: 5

0
1
4
5

In [ ]:
#Generators - send()
MAX_STUDENTS = 50

def get_student_ids():
  student_id = 1
  while student_id <= MAX_STUDENTS:
    # Write your code below
    n = yield student_id
    if n is not None:
      student_id = n
      continue
    student_id += 1

student_id_generator = get_student_ids()
for i in student_id_generator:
  # Write your code below
  if i == 1:
    i = student_id_generator.send(25)
  print(i, end=" ")

25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50

In [ ]:
#Generators - next()
def generator():
  i = 0
  while True:
    yield i
    i += 1

my_generator = generator()
next(my_generator)
next(my_generator)
my_generator.close()
next(my_generator) # raises StopGenerator exception

StopIteration:

In [ ]:
#Generators - close()
def student_counter():
  for i in range(1,5001):
    yield i

student_generator = student_counter()
for student_id in student_generator:
  print(student_id, end=' ')
  # Write your code below:
  if student_id >= 100:
    student_generator.close()

next(student_generator)

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

StopIteration:

In [ ]:
#Generators - close()
def generator():
  i = 0
  while True:
    try:
      yield i
    except GeneratorExit:
      print("Early exit, BYE!")
      break
    i += 1

my_generator = generator()
for item in my_generator:
  print(item)
  if item == 1:
    my_generator.close()

next(my_generator)

0
1
Early exit, BYE!

StopIteration:

In [ ]:
#Connecting Generators - 2 are connected in 3rd
def cs_courses():
    yield 'Computer Science'
    yield 'Artificial Intelligence'

def art_courses():
    yield 'Intro to Art'
    yield 'Selecting Mediums'


def all_courses():
    yield from cs_courses()
    yield from art_courses()

combined_generator = all_courses()
for course in combined_generator:
    print(course)

Computer Science
Artificial Intelligence
Intro to Art
Selecting Mediums

In [ ]:
#Generator Pipelines : multiple generators to perform a series of operations all within one expression. the output of one generator function can be the input of another generator function
def number_generator():
  i = 0
  while True:
    print('----->')
    yield i
    i += 1

def even_number_generator(numbers):
  for n in numbers:
    print('----->------>')
    if n % 2 == 0:
      yield n

even_numbers = even_number_generator(number_generator())

for e in even_numbers:
  print(e, end=' ')
  if e == 10:
    break

----->
----->------>
0 ----->
----->------>
----->
----->------>
2 ----->
----->------>
----->
----->------>
4 ----->
----->------>
----->
----->------>
6 ----->
----->------>
----->
----->------>
8 ----->
----->------>
----->
----->------>
10

In [ ]:
def course_generator():
    yield ("Computer Science", 5)
    yield ("Art", 10)
    yield ("Business", 15)

def add_five_students(courses):
  for course, num_students in courses:
    print('------->')
    yield (course, num_students + 5)

increased_courses = add_five_students(course_generator())
for course in increased_courses:
  print(course)

------->
('Computer Science', 10)
------->
('Art', 15)
------->
('Business', 20)

In [ ]:
def summa():
    yield 'Summa Cum Laude'
def magna():
    yield 'Magna Cum Laude'
def cum_laude():
    yield 'Cum Laude'
# Write your code below:
def graduation_countdown(days):
  while days >= 0:
    days_left = yield days
    if days_left != None:
      days = days_left
    else:
      days = days - 1

days = 25
countdown_generator = (day for day in range(days, -1, -1))
for num in countdown_generator: print(num, end=' ')
print()
grad_days = graduation_countdown(days)
for day in grad_days:
  if day == 15:
    grad_days.send(10)
  elif day == 3:
    grad_days.close()
  print("Days Left: " + str(day))

gpas = [3.2, 4.0, 3.6, 3.9]
def honors_generator(gpas):
  for gpa in gpas:
    if gpa > 3.9:
      yield from summa()
    elif gpa > 3.7:
      yield from magna()
    elif gpa > 3.5:
      yield from cum_laude()

honors = honors_generator(gpas)
for honor_label in honors:
  print(honor_label)

25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1 0
Days Left: 25
Days Left: 24
Days Left: 23
Days Left: 22
Days Left: 21
Days Left: 20
Days Left: 19
Days Left: 18
Days Left: 17
Days Left: 16
Days Left: 15
Days Left: 9
Days Left: 8
Days Left: 7
Days Left: 6
Days Left: 5
Days Left: 4
Days Left: 3
Summa Cum Laude
Cum Laude
Magna Cum Laude

In [1]:
import numpy as np

def print_var(n, x):
  print(f'{n}: {x} {type(x)}')

x = 2**99
print_var('x', x)

x: 633825300114114700748351602688 <class 'int'>

In [2]:
y = np.int64(2**33)
print_var('y', y)

y: 8589934592 <class 'numpy.int64'>

In [3]:
# Create a variable to hold a double floating point number
z = np.float64(387438.238439843934329)
print_var('z', z)

z: 387438.23843984393 <class 'numpy.float64'>

In [5]:
# Convert the 64-bit integer to a 32-bit integer
y2 = y.astype(np.int32)
print_var('y2', y2)

y3 = np.int32(np.int64(2**31))
print_var('y3', y3)

# Convert the double floating point number to a single floating point number
z2 = np.float32(z)
print_var('z2', z2)

y2: 0 <class 'numpy.int32'>
y3: -2147483648 <class 'numpy.int32'>
z2: 387438.25 <class 'numpy.float32'>

In [9]:
# Create a function that uses the global variable and a local one
g_x = 1
def f1(x):
  global g_x
  y = 6
  g_x = x * y
  return g_x

print(f1(10))
g_x

60

60

In [ ]:
# Create a function that uses the global variable and a local one
def f1(x):
  global g_x
  y = 6
  g_x = x * y
  return g_x

In [10]:
# Print the function's return value
print(f'f1(5): {f1(5)}')
print(f'g_x: {g_x}')

print(f'f1(g_x): {f1(g_x)}')
print(f'g_x: {g_x}')

f1(5): 30
g_x: 30
f1(g_x): 180
g_x: 180

In [12]:
# Create a function that accepts variable arguments as lists and named arguments
def fn(*args, **kwargs):
  # Perform an operation on the list of arguments
  total = sum(args)
  retval = f'sum of args: {total}\n'
  # Perform an operation on the named arguments
  for k, v in kwargs.items():
    retval += f'{k}={v}\n'
  return retval

s = fn(1,2,3, test=5, p='Hello, World!')
print(s)

t = fn(4,5,6, greeting='Hello', recipient='World')
print(t)

sum of args: 6
test=5
p=Hello, World!

sum of args: 15
greeting=Hello
recipient=World

In [15]:
# Create a python function
def fn_next(begin):
  current = begin
  # Create an inner function to act as a closure
  def fn_inc():
    nonlocal current
    current += 1
    return current
  return fn_inc

# Return the closure function object
get_next = fn_next(100)

# Call the function to return a value that changes each time it is called
print(get_next())
print(get_next())
print(get_next())
print(get_next())
print(get_next())
print(get_next())
print(get_next())

11
11
11
11
11
11
11

In [1]:
items = ['cake', 'cookie', 'bread']
total_items = items + ['biscuit', 'tart']
print(total_items)
# Result: ['cake', 'cookie', 'bread', 'biscuit', 'tart']
total_items = total_items + ['mango']
print(total_items)
itm1 = []
itm1 = itm1 + ['mango']
print(itm1)

['cake', 'cookie', 'bread', 'biscuit', 'tart']
['cake', 'cookie', 'bread', 'biscuit', 'tart', 'mango']
['mango']