<a href="https://colab.research.google.com/github/dilip-ksa/dilip_pythondemo/blob/main/Day6_ML_journey.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# range function

for i in range(0,11,3):
  print(i)

0
3
6
9

In [ ]:
s1 = "NTT"
s2 = "DATA"
s3 = s1+s2
print(s3)
s4 = s2*4
print(s4)

s2[0]="d"

NTTDATA
DATADATADATADATA

TypeError: 'str' object does not support item assignment

In [ ]:
# String deletion
s1 = "Ntt"
print(s1)
del s1
print(s1)

Ntt

NameError: name 's1' is not defined

In [ ]:
#  length of the string

s = input("enter a string")
c=0
for i in s:
  c= c+1
print("length =", c)

#use len function

print(len(s))

enter a stringasdf
length = 4
4

In [ ]:
# memebership operator

if "b" not in "apple":
  print("yes")
else:
  print("no")

yes

In [ ]:
# count method

main_string = input("enter a string")
sub_string = input("enetr a sub string")

c = main_string.count(sub_string,0,3)

print(c)

enter a stringasdf
enetr a sub stringyxcv
0

In [ ]:
mobno = input(" enter you mob no with country code")

if mobno.startswith("+91"):
  print("india")
elif mobno.startswith("+1"):
  print("USA")

 enter you mob no with country code+91646454
india

In [ ]:
# endswith
url = input("enter a URL")
if url.endswith('.edu'):
  print("educational website")
elif url.endswith('.com'):
  print("commercial website")

enter a URL.edu
educational website

In [ ]:
#lstrip method
name = input("enter your name")
print(name)
name = name.lstrip()
print(name)

enter your namedfsd
dfsd
dfsd

In [ ]:
url = ["httphttphttphhpp","http://www.ajio.com","http://www.cricbuzz.com"]

for i in url:
  #i = i.lstrip("http://www.")
  i = i.lstrip("tph")
  print(i)

://www.ajio.com
://www.cricbuzz.com

In [ ]:
url=["https://www.google.com","https://www.microsoft.com","https://www.amazon.com", "http://www.swiss.com"]
for s in url:
  newstr = s.lstrip("htps:/w.")
  print(newstr)

google.com
microsoft.com
amazon.com
iss.com

In [ ]:
url=["https://www.google.com","https://www.microsoft.com","https://www.amazon.com", "http://www.swiss.com"]
for s in url:
  newstr = s.rstrip(".moce")
  print(newstr)

https://www.googl
https://www.microsoft
https://www.amazon
http://www.swiss

In [ ]:
url=["http://www.myntra.com","http://www.ajio.com","http://www.cricbuzz.com", "http://www.amazon.com"]
for s in url:
  newstr = s.rstrip("htp.com")
  print(newstr)

http://www.myntra
http://www.aji
http://www.cricbuzz
http://www.amazon

In [ ]:
url=["http://www.myntra.com","http://www.ajio.com","http://www.cricbuzz.com"]
for s in url:
  newstr = s.strip("htp:/.com")
  print(newstr)

www.myntra
www.aji
www.cricbuzz

In [ ]:
#ascii value
st = "ABCDEFGHIJK"
for s in st:
  print(ord(s), end=' ')

65 66 67 68 69 70 71 72 73 74 75

In [ ]:
#replace
str1 = "Bangalore"
newstr = str1.replace("Bangalore", "Bengaluru")
print(newstr)

Bengaluru

In [ ]:
#replace
str1 = "Bangalore"
newstr = str1.replace("a", "o")
print(newstr)

Bongolore

In [ ]:
#replace
str1 = "Bangalore"
newstr = str1.replace("a", "o", 1)
print(newstr)

Bongalore

In [ ]:
str1 = "I live in Mumbai, Mumbai is a beautiful place"
newstr = str1.replace("Mumbai", "Bangalore")
print(newstr)

I live in Bangalore, Bangalore is a beautiful place

In [ ]:
str1 = "I live in Mumbai, Mumbai is a beautiful place"
newstr = str1.replace("Mumbai", "Bangalore", 1)
print(newstr)

I live in Bangalore, Mumbai is a beautiful place

In [ ]:
str1 = "I live in Mumbai, Mumbai is a beautiful place"
newstr = str1.find("Mumbai", 1)
print(newstr)

10

In [ ]:
str1 = "I live in Mumbai, Mumbai is a beautiful place"
newstr = str1.rfind("Mumbai", 1)
print(newstr)

18

In [ ]:
str1 = "I live in Mumbai, Mumbai is a beautiful place"
newstr = str1.split(" ")
print(newstr)

['I', 'live', 'in', 'Mumbai,', 'Mumbai', 'is', 'a', 'beautiful', 'place']

In [ ]:
str1 = "I live in Mumbai, Mumbai is a beautiful place"
newstr = str1.split(" ", 3)
print(newstr)

['I', 'live', 'in', 'Mumbai, Mumbai is a beautiful place']

In [ ]:
str1 = "I live in Mumbai, Mumbai is a beautiful place"
newstr = str1.split()
print(newstr)

['I', 'live', 'in', 'Mumbai,', 'Mumbai', 'is', 'a', 'beautiful', 'place']

In [ ]:
str1 = "I live in Mumbai, Mumbai is a beautiful place"
newstr = str1.split("i")
print(newstr)

['I l', 've ', 'n Mumba', ', Mumba', ' ', 's a beaut', 'ful place']

In [2]:
###################### Day 6  #################################
list1 = [12,23.4,"Test", True, 2+3j, (1, 2, 3), [23, 24, 25]]
print(list1)
print(type(list1))
print(list1[0], list1[-1])

[12, 23.4, 'Test', True, (2+3j), (1, 2, 3), [23, 24, 25]]
<class 'list'>
12 [23, 24, 25]

In [6]:
list1 = [12,23.4,"Test", True, 2+3j, (1, 2, 3), [23, 24, 25]]
print(list1[6][1])
print(list1[2::2])
print(list1[::-1])

24
['Test', (2+3j), [23, 24, 25]]
[[23, 24, 25], (1, 2, 3), (2+3j), True, 'Test', 23.4, 12]

In [9]:
#List concatenation
l1 = [1,2,3]
l2 = [4,5,6]
l3 = l1+l2
print(l1)
print(l2)
print(l3)

print(id(l1))
print(id(l2))
print(id(l3))

[1, 2, 3]
[4, 5, 6]
[1, 2, 3, 4, 5, 6]
138041345447296
138041343771008
138041345448576

In [11]:
#List multiplication
l1 = [1,2,3]
l2 = [4,5,6]
l3 = l1*3
print(l1)
print(l2)
print(l3)

[1, 2, 3]
[4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [12]:
#
l1 = (1,2,3)
l2 = [4,5,6]
l3 = l1 * 3
print(l1)
print(l2)
print(l3)

(1, 2, 3)
[4, 5, 6]
(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [14]:
#Membership operator
l1 = [1,2,3]
print(1 in l1)
print(4 in l1)
print()
print(1 not in l1)
print(4 not in l1)

True
False

False
True

In [15]:
print ('NTT' in "NTT DATA")

True

In [17]:
#Functions max()
l1 = [1,2,3]
print(max(l1))

l2 = ['a', 'b', 'c']
print(max(l2))

l3 = [12, 13, "NTT"]
print(max(l3))

3
c

TypeError: '>' not supported between instances of 'str' and 'int'

In [19]:
l2 = ['aaa', 'bbbb', 'ccc', 'dd']
print(max(l2), min(l2))
print(max(l2, key=len), min(l2, key=len))

dd aaa
bbbb dd

In [21]:
l1 = []
print(max(l1, default="list is empty"))
print(len(l1))

list is empty
0

In [25]:
#List append
l1 = [1,2,3]
print(l1)
l1.append(4)
print(l1)
l1.append([5, 6, 7])
print(l1)
l1.append((8, 9, 10))
print(l1)

l1.append("test")
print(l1)

l1.append(21, 22, 23)
print(l1)

[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, [5, 6, 7]]
[1, 2, 3, 4, [5, 6, 7], (8, 9, 10)]
[1, 2, 3, 4, [5, 6, 7], (8, 9, 10), 'test']

TypeError: list.append() takes exactly one argument (3 given)

In [29]:
#Create list at runtime
list = [10, 20]
for i in range(6):
  num = int(input("enter a number"))
  list.append(num)
print(list)

enter a number12
enter a number13
enter a number14
enter a number15
enter a number16
enter a number17
[10, 20, 12, 13, 14, 15, 16, 17]

In [28]:
#List extend
list1 = [1,2,3]
list2 = [4,5,6]
list1.extend(list2)
print(list1)

[1, 2, 3, 4, 5, 6]

In [30]:
list1 = [1,2,3]
list1.extend([4,5,6])
print(list1)

[1, 2, 3, 4, 5, 6]