<a href="https://colab.research.google.com/github/dilip-ksa/dilip_pythondemo/blob/main/Day9_ML_journey.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# range function

for i in range(0,11,3):
  print(i)

0
3
6
9

In [ ]:
s1 = "NTT"
s2 = "DATA"
s3 = s1+s2
print(s3)
s4 = s2*4
print(s4)

s2[0]="d"

NTTDATA
DATADATADATADATA

TypeError: 'str' object does not support item assignment

In [ ]:
# String deletion
s1 = "Ntt"
print(s1)
del s1
print(s1)

Ntt

NameError: name 's1' is not defined

In [ ]:
#  length of the string

s = input("enter a string")
c=0
for i in s:
  c= c+1
print("length =", c)

#use len function

print(len(s))

enter a stringasdf
length = 4
4

In [ ]:
# memebership operator

if "b" not in "apple":
  print("yes")
else:
  print("no")

yes

In [ ]:
# count method

main_string = input("enter a string")
sub_string = input("enetr a sub string")

c = main_string.count(sub_string,0,3)

print(c)

enter a stringasdf
enetr a sub stringyxcv
0

In [ ]:
mobno = input(" enter you mob no with country code")

if mobno.startswith("+91"):
  print("india")
elif mobno.startswith("+1"):
  print("USA")

 enter you mob no with country code+91646454
india

In [ ]:
# endswith
url = input("enter a URL")
if url.endswith('.edu'):
  print("educational website")
elif url.endswith('.com'):
  print("commercial website")

enter a URL.edu
educational website

In [ ]:
#lstrip method
name = input("enter your name")
print(name)
name = name.lstrip()
print(name)

enter your namedfsd
dfsd
dfsd

In [ ]:
url = ["httphttphttphhpp","http://www.ajio.com","http://www.cricbuzz.com"]

for i in url:
  #i = i.lstrip("http://www.")
  i = i.lstrip("tph")
  print(i)

://www.ajio.com
://www.cricbuzz.com

In [ ]:
url=["https://www.google.com","https://www.microsoft.com","https://www.amazon.com", "http://www.swiss.com"]
for s in url:
  newstr = s.lstrip("htps:/w.")
  print(newstr)

google.com
microsoft.com
amazon.com
iss.com

In [ ]:
url=["https://www.google.com","https://www.microsoft.com","https://www.amazon.com", "http://www.swiss.com"]
for s in url:
  newstr = s.rstrip(".moce")
  print(newstr)

https://www.googl
https://www.microsoft
https://www.amazon
http://www.swiss

In [ ]:
url=["http://www.myntra.com","http://www.ajio.com","http://www.cricbuzz.com", "http://www.amazon.com"]
for s in url:
  newstr = s.rstrip("htp.com")
  print(newstr)

http://www.myntra
http://www.aji
http://www.cricbuzz
http://www.amazon

In [ ]:
url=["http://www.myntra.com","http://www.ajio.com","http://www.cricbuzz.com"]
for s in url:
  newstr = s.strip("htp:/.com")
  print(newstr)

www.myntra
www.aji
www.cricbuzz

In [ ]:
#ascii value
st = "ABCDEFGHIJK"
for s in st:
  print(ord(s), end=' ')

65 66 67 68 69 70 71 72 73 74 75

In [ ]:
#replace
str1 = "Bangalore"
newstr = str1.replace("Bangalore", "Bengaluru")
print(newstr)

Bengaluru

In [ ]:
#replace
str1 = "Bangalore"
newstr = str1.replace("a", "o")
print(newstr)

Bongolore

In [ ]:
#replace
str1 = "Bangalore"
newstr = str1.replace("a", "o", 1)
print(newstr)

Bongalore

In [ ]:
str1 = "I live in Mumbai, Mumbai is a beautiful place"
newstr = str1.replace("Mumbai", "Bangalore")
print(newstr)

I live in Bangalore, Bangalore is a beautiful place

In [ ]:
str1 = "I live in Mumbai, Mumbai is a beautiful place"
newstr = str1.replace("Mumbai", "Bangalore", 1)
print(newstr)

I live in Bangalore, Mumbai is a beautiful place

In [ ]:
str1 = "I live in Mumbai, Mumbai is a beautiful place"
newstr = str1.find("Mumbai", 1)
print(newstr)

10

In [ ]:
str1 = "I live in Mumbai, Mumbai is a beautiful place"
newstr = str1.rfind("Mumbai", 1)
print(newstr)

18

In [ ]:
str1 = "I live in Mumbai, Mumbai is a beautiful place"
newstr = str1.split(" ")
print(newstr)

['I', 'live', 'in', 'Mumbai,', 'Mumbai', 'is', 'a', 'beautiful', 'place']

In [ ]:
str1 = "I live in Mumbai, Mumbai is a beautiful place"
newstr = str1.split(" ", 3)
print(newstr)

['I', 'live', 'in', 'Mumbai, Mumbai is a beautiful place']

In [ ]:
str1 = "I live in Mumbai, Mumbai is a beautiful place"
newstr = str1.split()
print(newstr)

['I', 'live', 'in', 'Mumbai,', 'Mumbai', 'is', 'a', 'beautiful', 'place']

In [ ]:
str1 = "I live in Mumbai, Mumbai is a beautiful place"
newstr = str1.split("i")
print(newstr)

['I l', 've ', 'n Mumba', ', Mumba', ' ', 's a beaut', 'ful place']

In [ ]:
###################### Day 6  #################################
list1 = [12,23.4,"Test", True, 2+3j, (1, 2, 3), [23, 24, 25]]
print(list1)
print(type(list1))
print(list1[0], list1[-1])

[12, 23.4, 'Test', True, (2+3j), (1, 2, 3), [23, 24, 25]]
<class 'list'>
12 [23, 24, 25]

In [ ]:
list1 = [12,23.4,"Test", True, 2+3j, (1, 2, 3), [23, 24, 25]]
print(list1[6][1])
print(list1[2::2])
print(list1[::-1])

24
['Test', (2+3j), [23, 24, 25]]
[[23, 24, 25], (1, 2, 3), (2+3j), True, 'Test', 23.4, 12]

In [ ]:
#List concatenation
l1 = [1,2,3]
l2 = [4,5,6]
l3 = l1+l2
print(l1)
print(l2)
print(l3)

print(id(l1))
print(id(l2))
print(id(l3))

[1, 2, 3]
[4, 5, 6]
[1, 2, 3, 4, 5, 6]
138041345447296
138041343771008
138041345448576

In [ ]:
#List multiplication
l1 = [1,2,3]
l2 = [4,5,6]
l3 = l1*3
print(l1)
print(l2)
print(l3)

[1, 2, 3]
[4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [ ]:
#
l1 = (1,2,3)
l2 = [4,5,6]
l3 = l1 * 3
print(l1)
print(l2)
print(l3)

(1, 2, 3)
[4, 5, 6]
(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [ ]:
#Membership operator
l1 = [1,2,3]
print(1 in l1)
print(4 in l1)
print()
print(1 not in l1)
print(4 not in l1)

True
False

False
True

In [ ]:
print ('NTT' in "NTT DATA")

True

In [ ]:
#Functions max()
l1 = [1,2,3]
print(max(l1))

l2 = ['a', 'b', 'c']
print(max(l2))

l3 = [12, 13, "NTT"]
print(max(l3))

3
c

TypeError: '>' not supported between instances of 'str' and 'int'

In [ ]:
l2 = ['aaa', 'bbbb', 'ccc', 'dd']
print(max(l2), min(l2))
print(max(l2, key=len), min(l2, key=len))

dd aaa
bbbb dd

In [ ]:
l1 = []
print(max(l1, default="list is empty"))
print(len(l1))

list is empty
0

In [ ]:
#List append
l1 = [1,2,3]
print(l1)
l1.append(4)
print(l1)
l1.append([5, 6, 7])
print(l1)
l1.append((8, 9, 10))
print(l1)

l1.append("test")
print(l1)

l1.append(21, 22, 23)
print(l1)

[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, [5, 6, 7]]
[1, 2, 3, 4, [5, 6, 7], (8, 9, 10)]
[1, 2, 3, 4, [5, 6, 7], (8, 9, 10), 'test']

TypeError: list.append() takes exactly one argument (3 given)

In [ ]:
#Create list at runtime
list = [10, 20]
for i in range(6):
  num = int(input("enter a number"))
  list.append(num)
print(list)

enter a number12
enter a number13
enter a number14
enter a number15
enter a number16
enter a number17
[10, 20, 12, 13, 14, 15, 16, 17]

In [ ]:
#List extend
list1 = [1,2,3]
list2 = [4,5,6]
list1.extend(list2)
print(list1)

[1, 2, 3, 4, 5, 6]

In [ ]:
list1 = [1,2,3]
list1.extend([4,5,6])
print(list1)

[1, 2, 3, 4, 5, 6]

In [ ]:
#List insert
list1 = [1,2,3]
list1.insert(0, 100)
print(list1)
list1.insert(2, 200)
print(list1)
list1.insert(10, 1000)
print(list1)

[100, 1, 2, 3]
[100, 1, 200, 2, 3]
[100, 1, 200, 2, 3, 1000]

In [ ]:
#List remove
list1 = [1,2,3,2,4,5,2]
list1.remove(2)
print(list1)

[1, 3, 2, 4, 5, 2]

In [ ]:
#List pop
list1 = [1,2,3,2,4,5,2]
print(list1)
print(list1.pop())
print(list1)
print(list1.pop(2))
print(list1)
print(list1.pop(20))
print(list1)

[1, 2, 3, 2, 4, 5, 2]
2
[1, 2, 3, 2, 4, 5]
3
[1, 2, 2, 4, 5]

IndexError: pop index out of range

In [ ]:
#List other operation
list1 = [1,2,3,2,4,5,2]
list1.reverse()
print(list1)

list1 = [1,2,3,2,4,5,2]
list1.sort()
print(list1)

list1 = [1,2,3,2,4,5,2]
list1.sort(reverse=True)
print(list1)

list1 = [1,2,3,2,4,5,2]
count = list1.count(2)
print(list1)
print(count)

[2, 5, 4, 2, 3, 2, 1]
[1, 2, 2, 2, 3, 4, 5]
[5, 4, 3, 2, 2, 2, 1]
[1, 2, 3, 2, 4, 5, 2]
3

In [ ]:
#List Delete (del)
list1 = [1,2,3,4,5,6,2,4,5]
print(list1)
del list1[0]
print(list1)
list1 = [1,2,3,4,5,6,2,4,5]
del list1[1:3]
print(list1)
list1 = [1,2,3,4,5,6,2,4,5]
del list1
print(list1)

[1, 2, 3, 4, 5, 6, 2, 4, 5]
[2, 3, 4, 5, 6, 2, 4, 5]
[1, 4, 5, 6, 2, 4, 5]

NameError: name 'list1' is not defined

In [ ]:
list = [10, 20, 10, 30, 20, 45]
uniqList = []
for i in list:
  if i not in uniqList:
    uniqList.append(i)
print(uniqList)

[10, 20, 30, 45]

In [ ]:
#################  Day 7  #####################
#List methods
list1 = [1,2,3,4,5]
print(list1)
list1.clear()
print(list1)

[1, 2, 3, 4, 5]
[]

In [ ]:
#list()
l1 = list()
print(l1)
print(type(l1))

[]
<class 'list'>

In [ ]:
l1 = list("hello")
print(l1)

l2 = list((1,2,3,4,5))
print(l2)

l3 = list([1,2,3,4,5])
print(l3)

l4 = list({1,2,3,4,5})
print(l4)

l5 = list({1:2, 3:4, 5:6})
print(l5)

l6 = list(range(10))
print(l6)

['h', 'e', 'l', 'l', 'o']
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 3, 5]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
l1 = [2,3,3,4,4,4,2,6,7,8,6]
uniqList = []
countList = []

for i in l1:
  if i not in uniqList:
    uniqList.append(i)
    countList.append(1)
  elif i in uniqList:
    index = uniqList.index(i)
    count = countList[index] + 1
    del countList[index]
    countList.insert(index, count)

print(uniqList)
print(countList)

[2, 3, 4, 6, 7, 8]
[2, 2, 3, 2, 1, 1]

In [ ]:
l1 = [2,3,3,4,4,4,2,6,7,8,6]
uniqList = []
countList = []

for i in l1:
  if i not in uniqList:
    uniqList.append(i)
    countList.append(1)
  elif i in uniqList:
    index = uniqList.index(i)
    countList[index] = countList[index] + 1

print(uniqList)
print(countList)

[2, 3, 4, 6, 7, 8]
[2, 2, 3, 2, 1, 1]

In [ ]:
l1 = [2,3,3,4,4,4,2,6,7,8,6]
uniqList = []
countList = []

for i in l1:
  if i not in uniqList:
    uniqList.append(i)
    countList.append(l1.count(i))

print(uniqList)
print(countList)

[2, 3, 4, 6, 7, 8]
[2, 2, 3, 2, 1, 1]

In [ ]:
#Tuple
t1 = (1,2,3,4.1, 2+3j, "test", True, (1,2,3), [1,2,3])
print(t1)
print(type(t1))

(1, 2, 3, 4.1, (2+3j), 'test', True, (1, 2, 3), [1, 2, 3])
<class 'tuple'>

In [ ]:
# tuple muthod
n = "NTT DATA"
t2 = tuple(n)
print(t2)

l1 = [1,2,3,4,5]
t3 = tuple(l1)
print(t3)
print(type(t3))

l2 = list(t3)
print(l2)
print(type(l2))

('N', 'T', 'T', ' ', 'D', 'A', 'T', 'A')
(1, 2, 3, 4, 5)
<class 'tuple'>
[1, 2, 3, 4, 5]
<class 'list'>

In [ ]:
t = (5)
print(t)
print(type(t))

t2 = (5,)
print(t2)
print(type(t2))

5
<class 'int'>
(5,)
<class 'tuple'>

In [ ]:
#tuple concatenetion
t1 = (1,2,3)
t2 = (4,5,6)
t3 = t1+t2
print(t1)
print(t2)
print(t3)

(1, 2, 3)
(4, 5, 6)
(1, 2, 3, 4, 5, 6)

In [ ]:
#tuple multiplication
t1 = (1,2,3)
t3 = t1*3
print(t1)
print(t3)

(1, 2, 3)
(4, 5, 6)
(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [ ]:
#tuple with for loop
t1 = (1,2,3)
for i in t1:
  print(i * 10)

10
20
30

In [ ]:
#slicing with tuple
t1 = (1,2,3,4,5,6,7)
print(t1[0])
print(t1[-1])
print(t1[1:5])
print(t1[::-1])

1
7
(2, 3, 4, 5)
(7, 6, 5, 4, 3, 2, 1)

In [ ]:
#dictionary
d1 = {1:100, 2:200, 3:300}
print(d1)
print(type(d1))
print(d1[1])
print(d1[2])
print(d1[3])
print(d1.get(1))
print(d1.get(2))
print(d1.items())

{1: 100, 2: 200, 3: 300}
<class 'dict'>
100
200
300
100
200
dict_items([(1, 100), (2, 200), (3, 300)])

In [ ]:
######################  Day 8 #####################
#Dictionary number key and number value
d1 = {2:100, 4:200, 6:300, 8:400, 10:500}
print(d1)
print(type(d1))
print("Keys :", d1.keys(), end='\n\n')
for k in d1.keys():
  print(k, sep='::')
print("Values :", d1.values(), end='\n\n')
for v in d1.values():
  print(v, sep='::', end='-')
print("\nItems :", d1.items(), end='\n\n')
for k, v in d1.items():
  print(k, v, sep='::')

{2: 100, 4: 200, 6: 300, 8: 400, 10: 500}
<class 'dict'>
Keys : dict_keys([2, 4, 6, 8, 10])

2
4
6
8
10
Values : dict_values([100, 200, 300, 400, 500])

100-200-300-400-500-
Items : dict_items([(2, 100), (4, 200), (6, 300), (8, 400), (10, 500)])

2::100
4::200
6::300
8::400
10::500

In [ ]:
#string as key and different type of values
d2 = {'aa': 100, 'bb': 200, 'cc': 300}
print(d2)
print(type(d2))
print("Keys :", d2.keys(), end='\n\n')
for k in d2.keys():
  print(k, end='::')

print()
print("\nValues :", d2.values(), end='\n\n')
for v in d2.values():
  print(v, end='::')

print()
print("\nItems :", d2.items(), end='\n\n')
for k, v in d2.items():
  print(k, v, sep='::')

{'aa': 100, 'bb': 200, 'cc': 300}
<class 'dict'>
Keys : dict_keys(['aa', 'bb', 'cc'])

aa::bb::cc::

Values : dict_values([100, 200, 300])

100::200::300::

Items : dict_items([('aa', 100), ('bb', 200), ('cc', 300)])

aa::100
bb::200
cc::300

In [ ]:
#number as key and different type of values
d3 = {3:[1,2,3], 6:(4,5,6), 9:{7,8,9}, 12:{10:100, 20:200}, 15:'NTT'}
print(d3)
print(type(d3))
print("Keys :", d3.keys(), end='\n\n')
for k in d3.keys():
  print(k, end='::')

print()
print("\nValues :", d3.values(), end='\n\n')
for v in d3.values():
  print(v, end='::')

print()
print("\nItems :", d3.items(), end='\n\n')
for k, v in d3.items():
  print(k, v, sep='::')

{3: [1, 2, 3], 6: (4, 5, 6), 9: {8, 9, 7}, 12: {10: 100, 20: 200}, 15: 'NTT'}
<class 'dict'>
Keys : dict_keys([3, 6, 9, 12, 15])

3::6::9::12::15::

Values : dict_values([[1, 2, 3], (4, 5, 6), {8, 9, 7}, {10: 100, 20: 200}, 'NTT'])

[1, 2, 3]::(4, 5, 6)::{8, 9, 7}::{10: 100, 20: 200}::NTT::

Items : dict_items([(3, [1, 2, 3]), (6, (4, 5, 6)), (9, {8, 9, 7}), (12, {10: 100, 20: 200}), (15, 'NTT')])

3::[1, 2, 3]
6::(4, 5, 6)
9::{8, 9, 7}
12::{10: 100, 20: 200}
15::NTT

In [ ]:
#tuple as key and different type of values
d3 = {(1,2):[1,2,3], (1,3):(4,5,6), (1,4):{7,8,9}, (1,5):{10:100, (1,6):200}, (1,7):'NTT'}
print(d3)
print(type(d3))
print("Keys :", d3.keys(), end='\n\n')
for k in d3.keys():
  print(k, end='::')

print()
print("\nValues :", d3.values(), end='\n\n')
for v in d3.values():
  print(v, end='::')

print()
print("\nItems :", d3.items(), end='\n\n')
for k, v in d3.items():
  print(k, v, sep='::')

{(1, 2): [1, 2, 3], (1, 3): (4, 5, 6), (1, 4): {8, 9, 7}, (1, 5): {10: 100, (1, 6): 200}, (1, 7): 'NTT'}
<class 'dict'>
Keys : dict_keys([(1, 2), (1, 3), (1, 4), (1, 5), (1, 7)])

(1, 2)::(1, 3)::(1, 4)::(1, 5)::(1, 7)::

Values : dict_values([[1, 2, 3], (4, 5, 6), {8, 9, 7}, {10: 100, (1, 6): 200}, 'NTT'])

[1, 2, 3]::(4, 5, 6)::{8, 9, 7}::{10: 100, (1, 6): 200}::NTT::

Items : dict_items([((1, 2), [1, 2, 3]), ((1, 3), (4, 5, 6)), ((1, 4), {8, 9, 7}), ((1, 5), {10: 100, (1, 6): 200}), ((1, 7), 'NTT')])

(1, 2)::[1, 2, 3]
(1, 3)::(4, 5, 6)
(1, 4)::{8, 9, 7}
(1, 5)::{10: 100, (1, 6): 200}
(1, 7)::NTT

In [ ]:
#Different type key and different type value
d3 = {'aa': 100, 12: 200, ('a', 'b'): 300, (2,3):400, 23:[40,50], 'bb':{'yy':101, 'xx':201}}
print(d3)
print(type(d3))
print("Keys :", d3.keys(), end='\n\n')
for k in d3.keys():
  print(k, end='::')

print()
print("\nValues :", d3.values(), end='\n\n')
for v in d3.values():
  print(v, end='::')

print()
print("\nItems :", d3.items(), end='\n\n')
for k, v in d3.items():
  print(k, v, sep='::')

{'aa': 100, 12: 200, ('a', 'b'): 300, (2, 3): 400, 23: [40, 50], 'bb': {'yy': 101, 'xx': 201}}
<class 'dict'>
Keys : dict_keys(['aa', 12, ('a', 'b'), (2, 3), 23, 'bb'])

aa::12::('a', 'b')::(2, 3)::23::bb::

Values : dict_values([100, 200, 300, 400, [40, 50], {'yy': 101, 'xx': 201}])

100::200::300::400::[40, 50]::{'yy': 101, 'xx': 201}::

Items : dict_items([('aa', 100), (12, 200), (('a', 'b'), 300), ((2, 3), 400), (23, [40, 50]), ('bb', {'yy': 101, 'xx': 201})])

aa::100
12::200
('a', 'b')::300
(2, 3)::400
23::[40, 50]
bb::{'yy': 101, 'xx': 201}

In [ ]:
#Different type key and different type value
d3 = {'aa': 100, 12: 200, ('a', 'b'): 300, (2,3):400, 23:[40,50], 'bb':{'yy':101, 'xx':201}}
print(d3)

print(d3.get('aa'))
print(d3.values())
print(d3.fromkeys(d3.keys()))
if 'aa' in d3:
  print("aa present in dict and value is:", d3['aa'])
else:
  print("key not found")

{'aa': 100, 12: 200, ('a', 'b'): 300, (2, 3): 400, 23: [40, 50], 'bb': {'yy': 101, 'xx': 201}}
100
dict_values([100, 200, 300, 400, [40, 50], {'yy': 101, 'xx': 201}])
{'aa': None, 12: None, ('a', 'b'): None, (2, 3): None, 23: None, 'bb': None}
aa present in dict and value is: 100

In [ ]:
d3 = {'aa': 100, 12: 200, ('a', 'b'): 300, (2,3):400, 23:[40,50], 'bb':{'yy':101, 'xx':201}}
keys = d3.keys()
values = d3.values()
print(keys)
l1 = list(keys)
print(l1)

dict_keys(['aa', 12, ('a', 'b'), (2, 3), 23, 'bb'])
['aa', 12, ('a', 'b'), (2, 3), 23, 'bb']

In [ ]:
d1 = {2:100, 4:200, 6:300, 8:400, 10:500}
print(d1)
print(type(d1))
print("Keys :", d1.keys(), end='\n\n')
for k in d1.keys():
  print(k, '=', d1.get(k))

print(d1.get(3, -100))

{2: 100, 4: 200, 6: 300, 8: 400, 10: 500}
<class 'dict'>
Keys : dict_keys([2, 4, 6, 8, 10])

2 = 100
4 = 200
6 = 300
8 = 400
10 = 500
-100

In [ ]:
d1 = {2:100, 4:200, 6:300, 8:400, 10:500}
print(d1)
print(d1.pop(4))
print(d1)
print(d1.pop(40, 4000))
print(d1)
print(d1.popitem())
print(d1)

{2: 100, 4: 200, 6: 300, 8: 400, 10: 500}
200
{2: 100, 6: 300, 8: 400, 10: 500}
4000
{2: 100, 6: 300, 8: 400, 10: 500}
(10, 500)
{2: 100, 6: 300, 8: 400}

In [ ]:
d1 = {2:100, 4:200, 6:300, 8:400, 10:500}
d2 = {11:10, 12:20, 13:30}
d1.update(d2)
print(d1)
d2.update({12:211, 14:311, 15:511})
print(d2)
d1.update(d2)
print(d1)

{2: 100, 4: 200, 6: 300, 8: 400, 10: 500, 11: 10, 12: 20, 13: 30}
{11: 10, 12: 211, 13: 30, 14: 311, 15: 511}
{2: 100, 4: 200, 6: 300, 8: 400, 10: 500, 11: 10, 12: 211, 13: 30, 14: 311, 15: 511}

In [ ]:
d1 = {'11':100, '22':200, '33':300}
print(d1)
d2 = {'44':400, '55':500, '66':600}
print(d2)
d1.update(d2)
print(d1)
d1.update({11:1000, 22:2000})
print(d1)
d1.clear()
print(d1)

{'11': 100, '22': 200, '33': 300}
{'44': 400, '55': 500, '66': 600}
{'11': 100, '22': 200, '33': 300, '44': 400, '55': 500, '66': 600}
{'11': 100, '22': 200, '33': 300, '44': 400, '55': 500, '66': 600, 11: 1000, 22: 2000}
{}

In [ ]:
#shallow copy
d1 = {'11':100, '22':200, '33':300}
d2 = d1
print(d1)
print(d2)
d2['11'] = 1000
print(d1)
print(d2)
print(id(d1))
print(id(d2))

{'11': 100, '22': 200, '33': 300}
{'11': 100, '22': 200, '33': 300}
{'11': 1000, '22': 200, '33': 300}
{'11': 1000, '22': 200, '33': 300}
133977849420352
133977849420352

In [ ]:
#shallow copy(deep if values are scalar and shallow if complex)
d1 = {'11':100, '22':200, '33':300}
d2 = d1.copy()
print(d1)
print(d2)
d2['11'] = 1000
print(d1)
print(d2)
print(id(d1))
print(id(d2))

{'11': 100, '22': 200, '33': 300}
{'11': 100, '22': 200, '33': 300}
{'11': 100, '22': 200, '33': 300}
{'11': 1000, '22': 200, '33': 300}
133977661618560
133977661618240

In [ ]:
#shallow copy
d1 = {'11':[1,2,3], '22':[4,5,6], '33':[7,8,9]}
d2 = d1.copy()
print(d1)
print(d2)
d2['11'][1] = 9
print(d1)
print(d2)
print(id(d1))
print(id(d2))

{'11': [1, 2, 3], '22': [4, 5, 6], '33': [7, 8, 9]}
{'11': [1, 2, 3], '22': [4, 5, 6], '33': [7, 8, 9]}
{'11': [1, 9, 3], '22': [4, 5, 6], '33': [7, 8, 9]}
{'11': [1, 9, 3], '22': [4, 5, 6], '33': [7, 8, 9]}
133977660043328
133977660044480

In [ ]:
#deep copy
import copy
d1 = {'11':[1,2,3], '22':[4,5,6], '33':[7,8,9]}
d2 = copy.deepcopy(d1)
print(d1)
print(d2)
d2['11'][1] = 9
print(d1)
print(d2)
print(id(d1))
print(id(d2))

{'11': [1, 2, 3], '22': [4, 5, 6], '33': [7, 8, 9]}
{'11': [1, 2, 3], '22': [4, 5, 6], '33': [7, 8, 9]}
{'11': [1, 2, 3], '22': [4, 5, 6], '33': [7, 8, 9]}
{'11': [1, 9, 3], '22': [4, 5, 6], '33': [7, 8, 9]}
133977660082112
133977661206720

In [ ]:
#shallow copy
import copy
d1 = {'11':[1,2,3], '22':[4,5,6], '33':[7,8,9]}
d2 = copy.copy(d1)
print(d1)
print(d2)
d2['11'][1] = 9
print(d1)
print(d2)
print(id(d1))
print(id(d2))

{'11': [1, 2, 3], '22': [4, 5, 6], '33': [7, 8, 9]}
{'11': [1, 2, 3], '22': [4, 5, 6], '33': [7, 8, 9]}
{'11': [1, 9, 3], '22': [4, 5, 6], '33': [7, 8, 9]}
{'11': [1, 9, 3], '22': [4, 5, 6], '33': [7, 8, 9]}
133977660354432
133977660353472

In [ ]:
#fromkeys
d1 = {2:100, 4:200, 6:300, 8:400, 10:500}
l1 = [1,2,3,4,5]
d1 = dict.fromkeys(l1)
print(d1)
d2 = dict.fromkeys(l1, [2000,3000,4000,5000,6000])
print(d2)

{1: None, 2: None, 3: None, 4: None, 5: None}
{1: [2000, 3000, 4000, 5000, 6000], 2: [2000, 3000, 4000, 5000, 6000], 3: [2000, 3000, 4000, 5000, 6000], 4: [2000, 3000, 4000, 5000, 6000], 5: [2000, 3000, 4000, 5000, 6000]}

In [ ]:
k= [1,2,3,4]
v=[11,22,33,44]
d1 = dict(zip(k,v))
print(d1)

{1: 11, 2: 22, 3: 33, 4: 44}

In [2]:
s = "I live in blr, blr is a garden city and beautiful city"
s = s.replace(',', '')
l1 = s.split(sep=' ')
print(l1)
d1 = {}
for i in l1:
  d1.update({i:l1.count(i)})
print(d1)

['I', 'live', 'in', 'blr', 'blr', 'is', 'a', 'garden', 'city', 'and', 'beautiful', 'city']
{'I': 1, 'live': 1, 'in': 1, 'blr': 2, 'is': 1, 'a': 1, 'garden': 1, 'city': 2, 'and': 1, 'beautiful': 1}

In [6]:
################## Day 9 #########################
#shallow copy using copy library/function
import copy
d1 = {'11':[1,2,3], '22':[4,5,6], '33':[7,8,9]}
d2 = copy.copy(d1)
print(d1)
print(d2)
d2['11'][1] = 99
print(d1)
print(d2)
print(id(d1))
print(id(d2))

{'11': [1, 2, 3], '22': [4, 5, 6], '33': [7, 8, 9]}
{'11': [1, 2, 3], '22': [4, 5, 6], '33': [7, 8, 9]}
{'11': [1, 99, 3], '22': [4, 5, 6], '33': [7, 8, 9]}
{'11': [1, 99, 3], '22': [4, 5, 6], '33': [7, 8, 9]}
139963629838784
139963629840128

In [7]:
#shallow copy using copy library/function
import copy
d1 = {'11':[1,2,3], '22':[4,5,6], '33':[7,8,9]}
d2 = copy.deepcopy(d1)
print(d1)
print(d2)
d2['11'][1] = 99
print(d1)
print(d2)
print(id(d1))
print(id(d2))

{'11': [1, 2, 3], '22': [4, 5, 6], '33': [7, 8, 9]}
{'11': [1, 2, 3], '22': [4, 5, 6], '33': [7, 8, 9]}
{'11': [1, 2, 3], '22': [4, 5, 6], '33': [7, 8, 9]}
{'11': [1, 99, 3], '22': [4, 5, 6], '33': [7, 8, 9]}
139963589637760
139963589637632