<a href="https://colab.research.google.com/github/dilip-ksa/dilip_pythondemo/blob/main/Pandas_demo_24apr2025.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
#import the pandas library

import pandas as pd
import numpy as np

data = np.array(['N', 'T', 'T', ' ', 'D', 'A', 'T', 'A']) #Array value
d = pd.Series(data)

num = 1234
d1 = pd.Series(num) # This is not allowed
print(d1)
print()
# d = pd.Series(['N', 'T', 'T', ' ', 'D', 'A', 'T', 'A']) # This is also allowed
print(d)

print(d[4])

0    1234
dtype: int64

0    N
1    T
2    T
3
4    D
5    A
6    T
7    A
dtype: object
D

In [ ]:
import pandas as pd
myData = [1, 2, 3, 4, 5]
myIndex = pd.Series(myData, index=['a', 'b', 'c', 'd', 'e'])
print(myIndex)
print(myData[2])
print(myIndex['c'])

a    1
b    2
c    3
d    4
e    5
dtype: int64
3
3

In [ ]:
import pandas as pd
employee = {'John':101, 'James': 105, 'Harry': 110, 'Ram':112, 'Tom':'125'}

empSeries = pd.Series(employee)
print(empSeries)
print(empSeries['John'])
print(employee)

John     101
James    105
Harry    110
Ram      112
Tom      125
dtype: object
101
{'John': 101, 'James': 105, 'Harry': 110, 'Ram': 112, 'Tom': '125'}

In [ ]:
import pandas as pd
data = {'a':101, 'b': 100, 'c': 234, 'Ram':112}

dataSeries = pd.Series(data, index=['b', 'c', 'x', 'y','a'])
print(dataSeries)

b    100.0
c    234.0
x      NaN
y      NaN
a    101.0
dtype: float64

In [ ]:
import pandas as pd

dataSeries = pd.Series(5, index=[1,2,3,4])
print(dataSeries)

dataSeries2 = pd.Series(5, index=['a', 'b', 'c', 'd'])
print(dataSeries2)

dataSeries3 = pd.Series(5, index=['a', 'b', 'c', 'd'], dtype=float)
print(dataSeries3)

dataSeries4 = pd.Series(5, index=['aaa', 'bbb', 'ccc', 'ddd'], dtype=float, name='String')
print(dataSeries4)

1    5
2    5
3    5
4    5
dtype: int64
a    5
b    5
c    5
d    5
dtype: int64
a    5.0
b    5.0
c    5.0
d    5.0
dtype: float64
aaa    5.0
bbb    5.0
ccc    5.0
ddd    5.0
Name: String, dtype: float64

In [ ]:
dataSeries2 = pd.Series(['a', 'b', 'c', 'd'])
print(dataSeries2)

print(dataSeries2[1])
print(dataSeries2[1:3])
print(dataSeries2[1:])
print()
print(dataSeries2[:-2])
print()
print(dataSeries2[::-1])
print()
print(dataSeries2[-3:])

0    a
1    b
2    c
3    d
dtype: object
b
1    b
2    c
dtype: object
1    b
2    c
3    d
dtype: object

0    a
1    b
dtype: object

3    d
2    c
1    b
0    a
dtype: object

1    b
2    c
3    d
dtype: object

In [ ]:
data2 = pd.Series([1, 2, 3, 4, 5], index=['a', 'b', 'c', 'd', 'e'])
print(data2)
print(data2.loc['b'])
print()
print(data2['a':'d'])
print(data2['a':'d': -1])

a    1
b    2
c    3
d    4
e    5
dtype: int64
2

a    1
b    2
c    3
d    4
dtype: int64
a    1
b    2
c    3
d    4
dtype: int64

In [ ]:
data = ['a', 'b', 'c', 'd', 'e']
print(data)
data[:2] = ['Harry', 'Tom']
print(data)

['a', 'b', 'c', 'd', 'e']
['Harry', 'Tom', 'c', 'd', 'e']

In [ ]:
num = 12
data = pd.Series(num)
print(data)
print("\nAddition:\n", num + 23)
print("\nMultiplication:\n", num * 23)

0    12
dtype: int64

Addition:
 35

Multiplication:
 276

In [ ]:
data = pd.Series([1,2,3,4], index=['a', 'b', 'c', 'd'])
print("My data:", data, sep='\n')
print("My addition data:", data + 10, sep='\n')
print("My multiplication data:", data * 10, sep='\n')
print("My subtraction data:", data - 10, sep='\n')
print("My expomentiation data:", data**2, sep='\n')

My data:
a    1
b    2
c    3
d    4
dtype: int64
My addition data:
a    11
b    12
c    13
d    14
dtype: int64
My multiplication data:
a    10
b    20
c    30
d    40
dtype: int64
My subtraction data:
a   -9
b   -8
c   -7
d   -6
dtype: int64
My expomentiation data:
a     1
b     4
c     9
d    16
dtype: int64

In [ ]:
data1 = pd.Series([1,2,3,4,5], index=['a', 'b', 'c', 'd','e'])
data2 = pd.Series([6,7,8,9], index=['x', 'a', 'b', 'c'])
print(data1)
print(data2)
print(data1 + data2)
print(data1 * data2)
print(data2 - data1)
print(data2 / data1)

a    1
b    2
c    3
d    4
e    5
dtype: int64
x    6
a    7
b    8
c    9
dtype: int64
a     8.0
b    10.0
c    12.0
d     NaN
e     NaN
x     NaN
dtype: float64
a     7.0
b    16.0
c    27.0
d     NaN
e     NaN
x     NaN
dtype: float64
a    6.0
b    6.0
c    6.0
d    NaN
e    NaN
x    NaN
dtype: float64
a    7.0
b    4.0
c    3.0
d    NaN
e    NaN
x    NaN
dtype: float64

In [ ]:
data = pd.Series([1,2,3,4])
print(data)
print(type(data))
print(data.index)
print(data.values, sep='-')
print(data.to_csv)

lst = data.to_list()

print(lst)
print(type(lst))

0    1
1    2
2    3
3    4
dtype: int64
<class 'pandas.core.series.Series'>
RangeIndex(start=0, stop=4, step=1)
[1 2 3 4]
<bound method NDFrame.to_csv of 0    1
1    2
2    3
3    4
dtype: int64>
[1, 2, 3, 4]
<class 'list'>

In [5]:
data1 = pd.Series([1,2,3,4,5], index=['a', 'b', 'c', 'd','e'])
print(data1)
res = data1.to_dict()
print(res)
print(type(res))

a    1
b    2
c    3
d    4
e    5
dtype: int64
{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}
<class 'dict'>

In [7]:
############ 24 Apr 2025  #####################
data = pd.Series([1,2,3,4,5])
print(data)
print(type(data))
str1 = data.to_string()
print(str1)
print(type(str1))

0    1
1    2
2    3
3    4
4    5
dtype: int64
<class 'pandas.core.series.Series'>
0    1
1    2
2    3
3    4
4    5
<class 'str'>